<app-cabecera-popup [titulo]="'Ingreso Beneficiario'"  />
<mat-dialog-content
  [formGroup]="agregaBeneficiario()"
  name="agregaBeneficiario"
  class="agrega-container"
>
  <div
    class="row form-con-titulo contenido-form mat-elevation-z6"
    data-titulo="Agregar Datos del Beneficiario"
  >
    <div class="col-md-4">
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Rut</mat-label>
        <input
          matInput
         
          id="rutBeneficiario"
          aria-label="Rut"
          class="input-rut rut"
          [formControl]="rutBeneficiario"
          oninput="this.value = this.value.toUpperCase()"
          (blur)="onBlurRutBeneficiario($event)"
          validaRut
          required
        />
        @if (rutBeneficiario.invalid) {
        <mat-error>{{ getErrorMessage("rutBeneficiario") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Nombre</mat-label>
        <input
          matInput
          aria-label="Nombre"
          [formControl]="nombreBeneficiario"
          required
        />
        @if (nombreBeneficiario.invalid) {
        <mat-error>{{ getErrorMessage("nombreBeneficiario") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Correo</mat-label>
        <input
          matInput
          aria-label="Correo"
          [formControl]="correoBeneficiario"
          required
        />
        @if (correoBeneficiario.invalid) {
        <mat-error>{{ getErrorMessage("correoBeneficiario") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Teléfono</mat-label>
        <input
          matInput
          aria-label="Teléfono"
          [formControl]="telefonoBeneficiario"
          required
        />
        @if (telefonoBeneficiario.invalid) {
        <mat-error>{{ getErrorMessage("telefonoBeneficiario") }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Región</mat-label>
        <input
          matInput
          aria-label="Región"
          [formControl]="regionBeneficiario"
          required
        />
        @if (regionBeneficiario.invalid) {
        <mat-error>{{ getErrorMessage("regionBeneficiario") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Ciudad</mat-label>
        <input
          matInput
          aria-label="Ciudad"
          [formControl]="ciudadBeneficiario"
          required
        />
        @if (ciudadBeneficiario.invalid) {
        <mat-error>{{ getErrorMessage("ciudadBeneficiario") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Comuna</mat-label>
        <input
          matInput
          aria-label="Comuna"
          [formControl]="comunaBeneficiario"
          required
        />
        @if (comunaBeneficiario.invalid) {
        <mat-error>{{ getErrorMessage("comunaBeneficiario") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Dirección</mat-label>
        <input
          matInput
          aria-label="Dirección"
          [formControl]="direccionBeneficiario"
          required
        />
        @if (direccionBeneficiario.invalid) {
        <mat-error>{{ getErrorMessage("direccionBeneficiario") }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Número Dirección</mat-label>
        <input
          matInput
          aria-label="Número Dirección"
          [formControl]="numeroDireccionBeneficiario"
          required
        />
        @if (numeroDireccionBeneficiario.invalid) {
        <mat-error>{{
          getErrorMessage("numeroDireccionBeneficiario")
        }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Número Departamento</mat-label>
        <input
          matInput
          aria-label="Número Departamento"
          [formControl]="deptoDireccionBeneficiario"
        />
        @if (deptoDireccionBeneficiario.invalid) {
        <mat-error>{{
          getErrorMessage("deptoDireccionBeneficiario")
        }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Número Casa</mat-label>
        <input
          matInput
          aria-label="Número Casa"
          [formControl]="casaBeneficiario"
        />
        @if (casaBeneficiario.invalid) {
        <mat-error>{{ getErrorMessage("casaBeneficiario") }}</mat-error>
        }
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="barra-botones-form d-flex justify-content-center">
  <div class="me-5">
    <button
      type="button"
      mat-raised-button
      class="colorFondoBotonCancelar"
      mat-dialog-close
      [disabled]="false"
    >
      Cerrar
    </button>
  </div>
  <div class="ms-5">
    <button
      type="button"
      mat-raised-button
      (click)="grabar()"
      [disabled]="agregaBeneficiario().invalid"
      [ngClass]="{
        colorFondoBotonGrabar: !agregaBeneficiario().invalid
      }"
    >
      Grabar
    </button>
  </div>
</mat-dialog-actions>
