<div class="dialog-container">
  <app-cabecera-popup [titulo]="'Agregar Compañía'" />
  <div class="contenido-horizontal fondoGris">
    <section>
      <h3>Nueva solicitud</h3>
      <div>{{ data.solicitudId }}</div>
    </section>
    <mat-divider vertical></mat-divider>
    <section>
      <h3>Fecha</h3>
      <div>{{ data.fecha }}</div>
    </section>
    <mat-divider vertical></mat-divider>
    <section>
      <h3>Ejecutivo</h3>
      <div>{{ data.ejecutivo }}</div>
    </section>
  </div>
  <div class="contenido-dialogo">
    <section>
      <h3 class="titulo">Información de compañia a incoporar</h3>
      <mat-label class="margenLabel">1. Selecciona una compañía</mat-label>
    </section>
    <section>
      <mat-form-field class="col-md-12">
        <mat-label>Compañía</mat-label>
        <mat-select
          [formControl]="compania"
          (selectionChange)="actualizarCorreo($event.value)"
        >
          @for (_compania of datoCompanias(); track _compania) {
          <mat-option [value]="_compania">
            {{ _compania.nombre_compania_seguro }}
          </mat-option>
          }
        </mat-select>

        @if(compania.invalid) {
        <mat-error>{{ getErrorMessage(compania) }}</mat-error>
        }
      </mat-form-field>
    </section>
    <section class="example-section">
      <div class="checkbox-input-pair">
        Correos de compañía seleccionada:
        <div class="col-md-12">
          <mat-form-field class="inputInput">
            <input
              matInput
              disabled
              aria-label="Correo de compañía"
              [value]="correoCompania()"
            />
          </mat-form-field>
        </div>
      </div>
    </section>
    <section>
      <mat-label class="margenLabel"
        >3. Detalle del ingreso de compañía</mat-label
      >
      <mat-form-field appearance="fill" class="textarea-grande col-md-12">
        <mat-label>Ingrese detalles</mat-label>
        <textarea
          matInput
          [formControl]="detalleControl"
          maxlength="500"
          rows="6"
          aria-label="Ingrese detalles"
        ></textarea>
        <mat-hint align="end"
          >{{ detalleControl.value?.length || 0 }} / 500</mat-hint
        >
      </mat-form-field>
    </section>

    <!-- <section>
      <h3 class="titulo">Documentos a Enviar</h3>
      <app-documentos-asociados [idSolicitud]="idSolicitudParametro()"/>
      <div class="container mt-4">
        <div class="row">
          @for(registro of registros; track $index){
          <div class="col-md-6 mb-4 altocard">
            <div class="card anchoCard">
              <h5 class="fw-bold">{{ registro.nombre }}</h5>
              @if(registro.documentosAsociados!= '' &&
              registro.documentosAsociados != null){
              <div
                class="d-flex justify-content-between align-items-center text-muted"
              >
                <div>{{ registro.documentosAsociados }}</div>
              </div>
              }@else{
              <div class="text-muted">No hay documentos asociados.</div>
              }
            </div>
          </div>
          }
        </div>
      </div>
    </section> -->
  </div>
  <div class="botones-derecha">
    <button
      type="button"
      mat-stroked-button
      color="primary"
      class="colorFondoBotonGuardar"
      (click)="cerrar()"
    >
      Cerrar
    </button>
    <button
      type="button"
      mat-stroked-button
      color="primary"
      class="botonesDetalle"
      (click)="guardarCompania()"
    >
      Agregar
    </button>
  </div>
</div>
