<div class="container-fluid p-2">
  <div class="box-form-fields gap-2 p-2" style="align-items: center;">
    <div class="gap-1" style="width: 10%;">
      <span class="gris"> Filtrar por: </span>
    </div>

    <div style="width: 20%;">
      <mat-form-field class="inputBuscar">
        <mat-label class="cursiva gris-claro">Contratante</mat-label>
        <mat-icon matSuffix class="gris">search</mat-icon>
          <input matInput #inContratante
            (keyup)="filtroContratante.set(inContratante.value); pagina.set(0)"
            (change)="filtroContratante.set(inContratante.value); pagina.set(0)"/>
      </mat-form-field>
    </div>

      <div style="width: 20%;">
        <mat-form-field class="inputSelect">
          <mat-label class="cursiva gris-claro">Rubro</mat-label>
           <mat-select [formControl]="rubro"
            (selectionChange)="seleccionaRubro($event.value); filtroRubro.set($event.value.nombre_rubro); pagina.set(0)">
            @for(_rubros of datoRubros(); track _rubros){
              <mat-option [value]="_rubros" >
                {{ _rubros.nombre_rubro }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div style="width: 20%;">
        <mat-form-field class="inputSelect">
          <mat-label class="cursiva gris-claro">Tipo de seguro</mat-label>
          <mat-select [formControl]="seguro" (selectionChange)="filtroProducto.set($event.value); pagina.set(0)">
            @for(_seguros of rescatadoSeguro(); track _seguros){
              <mat-option [value]="_seguros.nombre_tipo_seguro">
                {{ _seguros.nombre_tipo_seguro }}
              </mat-option>
            }
            <input matInput  />
          </mat-select>
        </mat-form-field>
      </div>

    <div style="width: 20%;">
      <mat-form-field class="inputFechaForm">
        <mat-label class="cursiva gris-claro">Fecha</mat-label>
          <input matInput [matDatepicker]="picker" [formControl]="hoy" (dateChange)="seleccionaFecha()">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <button mat-raised-button (click)="limpiaFiltros();
        inContratante.value = ''" class="button-link"> Limpiar filtros
      </button>
    </div>
  </div>
</div>

<div class="container-fluid p-2">
  <!-- <table style="border: none; width: 100%;"> -->
    @for(item of datosPaginados(); track $index){
      <mat-card class="alinea-card-gestion">
        <mat-card-content class="d-flex p-0">
          <div class="fondoGris" style="width: 5%; align-content: center; text-indent: 15%;">
            <mat-icon [ngClass]="getCellClass(item.Sla)">traffic</mat-icon>
          </div>
          <mat-divider [vertical]="true"></mat-divider>
          <div class ="p-2" style="width: 10%;">
            <p class="fontSmall" matColumnDef="ID">ID solicitud</p>
            <p class="fontLarge">{{item.ID}}</p>
          </div>
          <mat-divider [vertical]="true"></mat-divider>
          <div class ="p-2" style="width: 10%;">
            <p class="fontSmall" matColumnDef="Rut">RUT contratante</p>
            <p class="fontLarge">{{item.Rut}}</p>
          </div>
          <mat-divider [vertical]="true"></mat-divider>
          <div class ="p-2" style="width: 25%;">
            <p class="fontSmall" matColumnDef="Contratante">Nombre o Razón social</p>
            <p class="fontLarge">{{item.Contratante}}</p>
          </div>
          <mat-divider [vertical]="true"></mat-divider>
          <div class ="p-2" style="width: 15%;">
            <p class="fontSmall" matColumnDef="Rubro">Rubro</p>
            <p class="fontLarge">{{item.Rubro}}</p>
          </div>
          <mat-divider [vertical]="true"></mat-divider>
          <div class ="p-2" style="width: 20%;">
            <p class="fontSmall" matColumnDef="TipoSeguro">Tipo de Seguro</p>
            <p class="fontLarge">{{item.TipoSeguro}}</p>
          </div>
          <mat-divider [vertical]="true"></mat-divider>
          <div class ="p-2" style="width: 10%;">
            <p class="fontSmall" matColumnDef="Fecha">Fecha de solicitud</p>
            <p class="fontLarge">{{item.Fecha}}</p>
          </div>
          <mat-divider [vertical]="true"></mat-divider>
          <div class="p-2" style="width: 5%; align-content: center;">
              <button
                matTooltip="Ver detalles"
                mat-icon-button
                (click)="verDetalle(item.ID)"
              >
                <mat-icon class="destacado">visibility</mat-icon>
              </button>
          </div>
        </mat-card-content>
      </mat-card>
    }
  <!-- </table> -->
  <mat-paginator [length]="datosFiltrados()!.length"
                 [pageSize]="pageSize"
                 [pageIndex]="pagina()"
                 (page)="onPage($event)">
  </mat-paginator>
</div>
<!-- <div class="mat-elevation-z8">
  <table mat-table
      [dataSource]="dataSourceSolicitud"
      multiTemplateDataRows
      matSort>

      <ng-container matColumnDef="Sla">
        <th
          id="slaI"
          mat-header-cell
          *matHeaderCellDef
          style="width: 4%"
        >
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="gris"
          style="width: 4%; background-color: #E8E8EA; text-justify: center;"
        >
            <mat-icon [ngClass]="getCellClass(element.Sla)">traffic</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="ID">
        <th id="_id"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="width: 5%"
          > ID solicitud</th>
        <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
      </ng-container>

      <ng-container matColumnDef="Rut">
        <th id="_rut"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="width: 5%"
          > Rut contratante </th>
        <td mat-cell *matCellDef="let element"> {{element.Rut}} </td>
      </ng-container>

      <ng-container matColumnDef="Contratante">
        <th
          id="_contratante"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="width: 15%"
        >
          Nombre o Razón social
        </th>
        <td mat-cell *matCellDef="let element">{{ element.Contratante }}</td>
      </ng-container>

      <ng-container matColumnDef="Rubro">
        <th
          id="_rubro"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="width: 10%"
        >
          Rubro
        </th>
        <td mat-cell *matCellDef="let element">{{ element.Rubro }}</td>
      </ng-container>

      <ng-container matColumnDef="TipoSeguro">
        <th
          id="_tipoSeguro"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="width: 8%"
        >
          Tipo Seguro
        </th>
        <td mat-cell *matCellDef="let element">{{ element.TipoSeguro }}</td>
      </ng-container>

      <ng-container matColumnDef="Fecha">
        <th
          id="_fecha|"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="width: 8%"
        >
          Fecha de solicitud
        </th>
        <td mat-cell *matCellDef="let element">{{ element.Fecha }}</td>
      </ng-container>

      <ng-container matColumnDef="accion">
        <th
          id="accionI"
          mat-header-cell
          *matHeaderCellDef
          style="width: 8%; text-align: center"
        >
          Acción
        </th>
        <td
          mat-cell
          *matCellDef="let row; let i = index"
          style="width: 8%; text-align: center"
        >
          <mat-icon class="destacado" matTooltip="Ver detalles">visibility</mat-icon>
        </td></ng-container
      >
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      #myPaginator
      [pageSizeOptions]="[10, 20, 30, 100]"
    ></mat-paginator>
  </div> -->
