.agrega-container {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

.agrega-container>* {
  width: 100%;

}

.mat-dialog-container {
  padding: 50px !important;

}

.mat-dialog-content {
  margin: auto;
}

.mat-mdc-raised-button {
  min-width: 100%;
}

.barra-titulo {
  background-color: #234e85;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.titulo {
  font-size: 18px;
  font-weight: bold;
}