<div class="barra-titulo">
  <h2 class="titulo">Ingreso Asegurado</h2>
</div>

<mat-dialog-content [formGroup]="agregaAsegurado()" name="agregaAsegurado" class="agrega-container">
  <div class="row contenido-form  form-con-titulo mat-elevation-z6" data-titulo="Agregar Datos del Asegurado" style="margin-top: 32px;">
    <div class="col-md-6">
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Rut</mat-label>
        <input autofocus id="rutAsegurado" matInput class="input-rut rut" [formControl]="rutAsegurado"
          oninput="this.value = this.value.toUpperCase()" (blur)="onBlurRutAsegurado($event)" validaRut required />
        @if (rutAsegurado.invalid) {
        <mat-error>{{ getErrorMessage("rutAsegurado") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Nombre</mat-label>
        <input matInput [formControl]="nombreAsegurado" required />
        @if (nombreAsegurado.invalid) {
        <mat-error>{{ getErrorMessage("nombreAsegurado") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Apellido Paterno</mat-label>
        <input matInput [formControl]="apellidoPaternoAsegurado" required />
        @if (apellidoPaternoAsegurado.invalid) {
        <mat-error>{{ getErrorMessage("apellidoPaternoAsegurado") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Apellido Materno</mat-label>
        <input matInput [formControl]="apellidoMaternoAsegurado" required />
        @if (apellidoMaternoAsegurado.invalid) {
        <mat-error>{{ getErrorMessage("apellidoMaternoAsegurado") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Región</mat-label>
        <input matInput [formControl]="regionAsegurado" required />
        @if (regionAsegurado.invalid) {
        <mat-error>{{ getErrorMessage("regionAsegurado") }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Ciudad</mat-label>
        <input matInput [formControl]="ciudadAsegurado" required />
        @if (ciudadAsegurado.invalid) {
        <mat-error>{{ getErrorMessage("ciudadAsegurado") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Comuna</mat-label>
        <input matInput [formControl]="comunaAsegurado" required />
        @if (comunaAsegurado.invalid) {
        <mat-error>{{ getErrorMessage("comunaAsegurado") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Dirección</mat-label>
        <input matInput [formControl]="direccionAsegurado" required />
        @if (direccionAsegurado.invalid) {
        <mat-error>{{ getErrorMessage("direccionAsegurado") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Teléfono</mat-label>
        <input matInput [formControl]="telefonoAsegurado" required />
        @if (telefonoAsegurado.invalid) {
        <mat-error>{{ getErrorMessage("telefonoAsegurado") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Correo</mat-label>
        <input matInput [formControl]="correoAsegurado" required />
        @if (correoAsegurado.invalid) {
        <mat-error>{{ getErrorMessage("correoAsegurado") }}</mat-error>
        }
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-center">
  <div class="me-5">
    <button mat-raised-button class="colorFondoBotonCerrar" mat-dialog-close [disabled]="false">
      Cerrar
    </button>
  </div>
  <div class="ms-5">
    <button mat-raised-button (click)="grabar()" [disabled]="agregaAsegurado().invalid" [ngClass]="{
      'colorFondoBotonGrabar': !agregaAsegurado().invalid
    }">
      Grabar
    </button>
  </div>
</mat-dialog-actions>
