<div class="container-fluid d-flex justify-around p-0 mb-2">
  <h1 mat-dialog-title class="titulo centraVertical">Gestión de solicitudes</h1>
</div>

<div class="container-fluid fondoGris p-0">
  <mat-tab-group>
    @if (ejec()) {
      <mat-tab label="Solicitudes en Edición">
        <div class="container-fluid">
          <app-solicitudes [solicitudes]="en_edicion()" (retorno)="recibido($event)" />
        </div>
      </mat-tab>
      <mat-tab label="Solicitudes Con Observaciones">
        <div class="container-fluid">
          <app-solicitudes [solicitudes]="devueltas()" (retorno)="recibido($event)" />
        </div>
      </mat-tab>
    } @else {
      <mat-tab label="Solicitudes Nuevas">
        <div class="container-fluid">
          <app-solicitudes [solicitudes]="en_revision()" (retorno)="recibido($event)" />
        </div>
      </mat-tab>
      <mat-tab label="Solicitudes Aprobadas">
        <div class="container-fluid">
          <app-solicitudes [solicitudes]="aprobadas()" (retorno)="recibido($event)" />
        </div>
      </mat-tab>
      <mat-tab label="Solicitudes en Cotización">
        <div class="container-fluid">
          <app-solicitudes [solicitudes]="en_cotizacion()" (retorno)="recibido($event)" />
        </div>
      </mat-tab>
    }
  </mat-tab-group>
</div>
