.justify-around{
  display: flex;
  justify-content: space-between;
}

/* Esto puede ser de uso general */
.fondoGris{
  background-color: #E8E8EA;
  color: #666668;
}

.gris{
  color: #666668;
}

.danger{
  color: #F45516;
}

.titulo{
  color: #285B9B
}

.fontSmall{
  font-size: 12px;
}
