<div class="container-fluid">
  <h1 mat-dialog-title class="mt-3 titulo">Gestión de solicitudes</h1>
  <mat-tab-group>
    <mat-tab label="Solicitudes Nuevas">
      <div class="container-fluid fondoGris">
        <app-nuevas [inSolicitudes]="datosSolicitud()"/>
       </div>
    </mat-tab>
    <mat-tab label="Solicitudes Con Observaciones">
      <div class="container-fluid fondoGris">
        <!-- <app-con-observaciones/> -->
      </div>
    </mat-tab>
    <mat-tab label="Solicitudes en Cotización">
      <div class="container-fluid fondoGris"> Content 3</div>
      <!-- <app-en-cotizacion/> -->
    </mat-tab>
  </mat-tab-group>
</div>
