<div
  class="table-con-titulo mat-elevation-z6"
  data-titulo="Tipos de Seguro"
  style="margin-top: 32px"
>
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
    <!-- N° -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef style="width: 5%">N°</th>
      <td mat-cell *matCellDef="let row; let i = dataIndex" style="width: 5%">
        {{ i + 1 }}
      </td>
    </ng-container>

    <!-- Rubro -->
    <ng-container matColumnDef="p_nombre_rubro">
      <th mat-header-cell *matHeaderCellDef style="width: 30%">Rubro</th>
      <td mat-cell *matCellDef="let row">{{ row.p_nombre_rubro }}</td>
    </ng-container>

    <!-- Tipo Seguro -->
    <ng-container matColumnDef="p_nombre_tipo_seguro">
      <th mat-header-cell *matHeaderCellDef style="width: 40%">Tipo Seguro</th>
      <td mat-cell *matCellDef="let row">{{ row.p_nombre_tipo_seguro }}</td>
    </ng-container>

    <!-- Estado -->
    <ng-container matColumnDef="p_estado_tipo_seguro">
      <th mat-header-cell *matHeaderCellDef style="width: 25%">Estado</th>
      <td mat-cell *matCellDef="let row">{{ row.p_estado_tipo_seguro }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  @if(tiposSeguro.length === 0){
  <div class="info SinInfoTabla">No hay tipos de seguro para mostrar</div>
  }
</div>
