<div class="barra-titulo">
  <h2 class="titulo">Consulta Beneficiario</h2>
</div>

<mat-dialog-content name="consulta" class="consulta-container">
  <div class="row contenido-form  form-con-titulo mat-elevation-z6" data-titulo="Consulta de Beneficiario" style="margin-top: 32px;">
    <div class="col-md-6">
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Rut</mat-label>
        <input matInput value="{{ data.rut_beneficiario }}" disabled="true" />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Nombre</mat-label>
        <input matInput value="{{ data.nombre_razon_social_beneficiario }}" disabled="true" />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Región</mat-label>
        <input matInput value="{{ data.region_beneficiario }}" disabled="true" />
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Ciudad</mat-label>
        <input matInput value="{{ data.ciudad_beneficiario }}" disabled="true" />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Comuna</mat-label>
        <input matInput value="{{ data.comuna_beneficiario }}" disabled="true" />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Dirección</mat-label>
        <input matInput value="{{ data.direccion_beneficiario }}" disabled="true" />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Teléfono</mat-label>
        <input matInput value="{{ data.telefono_beneficiario }}" disabled="true" />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Correo</mat-label>
        <input matInput value="{{ data.mail_beneficiario }}" disabled="true" />
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-center">
  <div class="me-5">
    <button mat-raised-button class="colorFondoBotonCerrar" mat-dialog-close [disabled]="false">
      Cerrar
    </button>
  </div>
</mat-dialog-actions>
