  <div class="container-fluid d-flex justify-around p-0 mb-2">
    <h1 mat-dialog-title class="titulo centraVertical">Gestión de Cotizaciones</h1>
  </div>
  <app-resumen-cotizaciones [inResumen]="resumenGestion()"/>

<div  class="container-fluid fondoGris p-0 ">
    <mat-tab-group>
      <mat-tab label="Cotizaciones Registradas">
        <div class="container-fluid">
          <app-cotizaciones-registradas [recibidas]="recibidas()"
            (retorno)="recibido($event)" />
        </div>
      </mat-tab>
      <mat-tab label="Propuestas Pendientes">
        <div class="container-fluid ">
          <app-propuestas-pendientes [pendientes]="pendientes()"
            (retorno)="recibido($event)" />
        </div>
      </mat-tab>
      <mat-tab label="Propuestas Emitidas">
        <div class="container-fluid ">
          <app-propuestas-emitidas [emitidas]="emitidas()"
            (retorno)="recibido($event)" />
        </div>
      </mat-tab>

      <mat-tab label="Propuestas Firmadas">
        <div class="container-fluid ">
          <app-propuestas-firmadas [firmadas]="firmadas()"
            (retorno)="recibido($event)" />
        </div>
      </mat-tab>
    </mat-tab-group>
</div>
