  <div class="container-fluid d-flex justify-around p-0 mb-4">
    <h1 mat-dialog-title class="titulo">Gestión de solicitudes</h1>
  </div>
  <app-resumen-cotizaciones [inResumen]="resumenGestion()"/>

<div  class="container-fluid fondoGris p-0 ">
    <mat-tab-group>
      <mat-tab label="Cotizaciones Pendientes">
        <div class="container-fluid ">
          <app-cotizaciones-pendientes [pendientes]="pendientes()"
            (retorno)="recibido($event)" />
        </div>
      </mat-tab>
      <mat-tab label="Cotizaciones Enviadas">
        <div class="container-fluid ">
          <app-cotizaciones-enviadas [enviadas]="enviadas()"
            (retorno)="recibido($event)" />
        </div>
      </mat-tab>
      <mat-tab label="Cotizaciones Recibidas">
        <div class="container-fluid">
          <app-cotizaciones-recibidas [recibidas]="recibidas()"
            (retorno)="recibido($event)" />
        </div>
      </mat-tab>
      <mat-tab label="Propuestas Firmadas">
        <div class="container-fluid ">
          <app-propuestas-firmadas [firmadas]="firmadas()"
            (retorno)="recibido($event)" />
        </div>
      </mat-tab>
    </mat-tab-group>
</div>
