/* Input directo */
::ng-deep input.mat-mdc-input-element {
  color: #323131 !important; /* Texto oscuro */
  background-color: white !important;
  border: none !important;
}

/* Placeholder */
::ng-deep input.mat-mdc-input-element::placeholder {
  color: #888 !important; /* Gris suave */
  opacity: 1 !important;
}

/* Etiqueta del campo */
::ng-deep .mat-mdc-floating-label {
  color: #323131 !important; /* Texto oscuro */
}

/* Fondo del contenedor del input */
::ng-deep .mat-mdc-form-field-infix {
  background-color: white !important;
  color: #323131 !important;
}

/* Contenedor general del input */
::ng-deep .mat-mdc-text-field-wrapper {
  background-color: white !important;
}

/* Borde del input (outline) */
::ng-deep .mdc-notched-outline {
  border-color: white !important;
}

/* Mensajes de error */
::ng-deep .mat-mdc-form-field-error {
  color: red !important;
}

/* Mensajes de ayuda (hint) */
::ng-deep .mat-mdc-form-field-hint {
  color: #888 !important;
}

/* Iconos dentro del input */
::ng-deep .mat-mdc-form-field-icon-prefix,
::ng-deep .mat-mdc-form-field-icon-suffix {
  color: #323131 !important;
}

/* radio-button dentro del input */
::ng-deep mat-radio-button {
  color: #323131 !important; /* Texto oscuro */
}

::ng-deep .mat-radio-outer-circle,
::ng-deep .mat-radio-inner-circle {
  border-color: #323131 !important;
  background-color: white !important;
}

::ng-deep .mat-radio-checked .mat-radio-inner-circle {
  background-color: #323131 !important; /* Color al seleccionar */
}
