/* Cards que encierran contendidos */
.form-card {
  border-radius: 12px;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.card-borde {
  position: relative;
  border: 2px solid #285b9b;
  border-radius: 12px;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: #fff;
}

.card-con-titulo {
  position: relative;
  border: 1px solid #285b9b;
  border-radius: 12px;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: #fff;
}

.card-con-titulo::before {
  content: attr(data-titulo);
  position: absolute;
  top: -14px;
  left: 20px;
  background-color: #fff;
  padding: 0 10px;
  font-weight: 600;
  font-size: 14px;
  font-family: "Roboto", sans-serif !important;
  color: #285b9b;
}

.modifica-container {
  display: flex;
  flex-direction: column;
}

.modifica-container > * {
  width: 100%;
}

/* Estilos personalizados para las celdas de la tabla de Material Design.*/
.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 0 2px 0 10px;
}
