<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center px-3 mt-3">
    <h2 mat-dialog-title class="mt-3">Ingresar Nueva Solicitud</h2>
    <div class="botones-derecha">
      <!-- @if (mostrarAnular) {
      <button mat-raised-button class="colorFondoBotonAnular" (click)="salir()">
        Anular
      </button>
      }-->
      <button class="colorFondoBotonVolver" mat-raised-button (click)="salir()">
        Volver
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>

  <mat-stepper linear #stepper>
    <mat-step [stepControl]="agregaSolicitudContratante()">
      <!-- <form [formGroup]="agregaSolicitudContratante()">-->
      <ng-template matStepLabel>Información del Contratante</ng-template>
      <mat-dialog-content
        [formGroup]="agregaSolicitudContratante()"
        name="agregaSolicitudContratante"
        class="modifica-container"
      >
        <mat-card class="card-borde form-card mat-elevation-z6">
          <mat-card-content>
            <div class="row d-flex flex-wrap justify-around">
              <!-- Sección 1: RUT, Rubro, Tipo de Seguro -->
              <mat-card
                class="col-md-6 form-card mat-elevation-z6 contenido-card card-con-titulo"
                data-titulo="Ingreso de datos"
                style="width: 48%; margin-left: 1%"
              >
                <mat-card-content>
                  <div class="col-md-12">
                    <mat-form-field
                      appearance="outline"
                      class="campo-blanco inputInput"
                    >
                      <mat-label class="labelI">RUT</mat-label>
                      <input
                        class="input-blanco"
                        autofocus
                        id="rutCliente"
                        matInput
                        [formControl]="rutCliente"
                        oninput="this.value = this.value.toUpperCase()"
                        (blur)="onBlurRutCliente($event)"
                        validaRut
                        required
                      />
                      @if (rutCliente.invalid) {
                      <mat-error>{{ getErrorMessage("rut") }}</mat-error>
                      }
                    </mat-form-field>
                  </div>

            <mat-form-field class="inputSelect">
              <mat-label class="labelI">Selecciona un rubro</mat-label>
              <mat-select
                [formControl]="rubro"
                (selectionChange)="seleccionaRubro($event.value)"
                required
              >
                @for(_rubros of datoRubros(); track _rubros){
                <mat-option [value]="_rubros.id_rubro">
                  {{ _rubros.nombre_rubro }}
                </mat-option>
                }
              </mat-select>
              @if(seguro.invalid){
              <mat-error>{{ getErrorMessage("seguro") }}</mat-error>
              }
            </mat-form-field>

                  <div class="col-md-12">
                    <mat-form-field class="inputSelect">
                      <mat-label class="labelI"
                        >Selecciona un tipo de seguro</mat-label
                      >
                      <mat-select [formControl]="seguro" required>
                        @for(_seguros of rescatadoSeguro(); track _seguros){
                        <mat-option [value]="_seguros.id_tipo_seguro">
                          {{ _seguros.nombre_tipo_seguro }}
                        </mat-option>
                        }
                      </mat-select>
                      @if(seguro.invalid){
                      <mat-error>{{ getErrorMessage("seguro") }}</mat-error>
                      }
                    </mat-form-field>
                  </div>
                </mat-card-content>
              </mat-card>

              <!-- Sección 2: Nombre, Correo, Teléfonos -->
              <mat-card
                class="col-md-6 form-card mat-elevation-z6 contenido-card card-con-titulo"
                data-titulo="Datos del contratante"
                style="width: 48%; margin-left: 1%"
              >
                <mat-card-content>
                  <div class="col-md-12">
                    <mat-form-field class="inputInput">
                      <mat-label class="labelI"
                        >Nombre o Razón Social</mat-label
                      >
                      <input
                        placeholder="."
                        matInput
                        disabled
                        [value]="nombreRazonSocial()"
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-md-12">
                    <mat-form-field class="inputInput">
                      <mat-label class="labelI">Correo</mat-label>
                      <input matInput disabled [value]="nombreRazonSocial()" />
                    </mat-form-field>
                  </div>

                  <div class="col-md-12">
                    <mat-form-field class="inputInput">
                      <mat-label class="labelI"
                        >Teléfonos (Personal/Comercial)</mat-label
                      >
                      <input matInput disabled [value]="nombreRazonSocial()" />
                    </mat-form-field>
                  </div>

                  <div class="col-md-12" style="margin-top: 16px">


                        <mat-checkbox [formControl]="aseguradeCheck">El contratante es igual al asegurado</mat-checkbox>

                  </div>
                </mat-card-content>
              </mat-card>
            </div>

            <!-- Contenedor de botones en una sola fila -->
            <div
              class="d-flex justify-content-between align-items-center mt-2"
            >
              <!-- Botón Descargar -->
              <button
                mat-raised-button
                (click)="('')"
                [disabled]="agregaSolicitudContratante().invalid"
                [ngClass]="{
                  colorFondoBotonDescargar:
                    !agregaSolicitudContratante().invalid
                }"
              >
                <mat-icon>download</mat-icon> Descargar Cuestionario
              </button>

              <!-- Botón Siguiente alineado a la derecha -->
              <div class="px-3 mt-3">
                <button
                  mat-raised-button
                  matStepperNext
                  class="colorFondoBotonSiguiente"
                >
                  Siguiente
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-dialog-content>
    </mat-step>

    <mat-step
      [stepControl]="agregaSolicitudAsegurado()"
      errorMessage="Valores Requeridos"
    >
      <form [formGroup]="agregaSolicitudAsegurado()">
        <ng-template matStepLabel>Información del Asegurado</ng-template>
        <app-asegurado
          [datoAseguradosRecibe]="datoAsegurados()"
          (datoAseguradosRecibeModificado)="actualizarAsegurado($event)"
          [(flagAsegurado)]="flagAseguradoRescata"
          (flagAseguradoModel)="cambioAseguradoFlag()"
        />
        <div class="alinear-botones">
          <div class="botones-izquierda">
            <button
              mat-raised-button
              matStepperPrevious
              class="colorFondoBotonAtras"
            >
              Atrás
            </button>
          </div>
          <div class="botones-derecha">
            <!--><button
            mat-raised-button
            class="colorFondoBotonGuardar"
            (click)="grabarBorrador()"
          >
            Grabar
          </button>-->
            <button
              mat-raised-button
              matStepperNext
              class="colorFondoBotonSiguiente"
            >
              Siguiente
            </button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step
      [stepControl]="agregaSolicitudBeneficiario()"
      errorMessage="Valores Requeridos"
    >
      <form [formGroup]="agregaSolicitudBeneficiario()">
        <ng-template matStepLabel>Información del Beneficiario</ng-template>
        <app-beneficiario
          [datoBeneficiariosRecibe]="datoBeneficiarios()"
          (datoBeneficiariosRecibeModificado)="actualizarBeneficiario($event)"
          [(flagBeneficiario)]="flagBeneficiarioRescata"
          (flagBeneficiarioModel)="cambioBeneficiarioFlag()"
        />
        <div class="alinear-botones">
          <div class="botones-izquierda">
            <button
              mat-raised-button
              matStepperPrevious
              class="colorFondoBotonAtras"
            >
              Atrás
            </button>
          </div>
          <div class="botones-derecha">
            <!--><button
            mat-raised-button
            class="colorFondoBotonGuardar"
            (click)="grabarBorrador()"
          >
            Grabar
          </button>-->
            <button
              mat-raised-button
              matStepperNext
              class="colorFondoBotonSiguiente"
            >
              Siguiente
            </button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Materia Asegurada</ng-template>
      <app-materia-asegurada />
      <div class="alinear-botones">
        <div class="botones-izquierda">
          <button
            mat-raised-button
            matStepperPrevious
            class="colorFondoBotonAtras"
          >
            Atrás
          </button>
        </div>
        <div class="botones-derecha">
          <!--><button
            mat-raised-button
            class="colorFondoBotonGuardar"
            (click)="grabarBorrador()"
          >
            Grabar
          </button>-->
          <button
            mat-raised-button
            matStepperNext
            class="colorFondoBotonSiguiente"
          >
            Siguiente
          </button>
        </div>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Cuestionario y Documentos</ng-template>
      <app-cuestionario-documentos />
      <div class="alinear-botones">
        <div class="botones-izquierda">
          <button
            mat-raised-button
            matStepperPrevious
            class="colorFondoBotonAtras"
          >
            Atrás
          </button>
        </div>
        <div class="botones-derecha">
          <!--<button mat-raised-button class="colorFondoBotonGuardar" (click)="grabarBorrador()">
            Grabar
          </button>-->
          <button
            (click)="abrirDialogoYAvanzar()"
            mat-raised-button
            class="colorFondoBotonConfirmar"
          >
            Enviar
          </button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</div>
