 <!-- <div class="table-con-titulo mat-elevation-z6"
  data-titulo="Observaciones" style="margin-top: 32px">-->
<div class="container-fluid" style=" padding: 0px 0px 12px;">
  @if(companias().length!==0 && companias()!==undefined){
  <mat-expansion-panel class="mat-elevation-z6"
    style="border-radius: 10px; border: 1px solid; border-color: #234E85;"
      (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="destacado"> Compañías Contactadas
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="container-fluid fondoGris" style="padding: 10px 10px 10px;">
        @for(item of companias(); track $index){
        <div class="container-fluid p-2">
          <mat-card class="alinea-card-gestion">
            <mat-card-content class="d-flex">
              <div style="width: 40%; padding: 0px 10px 0px;">
                <p class="fontSmall destacado">Nombre compañía</p>
                <p class="fontLarge">{{item.p_nombre_compania_seguro}}</p>
              </div>
  <!--             <mat-divider [vertical]="true"></mat-divider>
              <div class ="p-2" style="width: 70%;">
                <p class="fontSmall">Correo destino</p>
                <p class="fontLarge">{{item.correo_destino}}</p>
              </div> -->
              <mat-divider [vertical]="true"></mat-divider>
              <div style="width: 20%; padding: 0px 10px 0px;">
                <p class="fontSmall destacado">Fecha de envío</p>
                <p class="fontLarge">{{item.p_id_fecha_envio_cotizacion}}</p>
              </div>
              <mat-divider [vertical]="true"></mat-divider>
              <!-- <div style="width: 30%; padding: 0px 10px 0px;">
                <p class="fontSmall destacado">Tiempo transcurrido</p>
                <p class="fontLarge">{{item.p_tiempo_transcurrido}}</p>
              </div> -->
              <mat-divider [vertical]="true"></mat-divider>
              <div style="width: 30%; padding: 0px 10px 0px;">
                <p class="fontSmall destacado">Estado cotización</p>
                <p class="fontLarge">
                  {{item.p_id_estado_cotizacion}}</p>
                <!-- <p class="fontLarge" [ngStyle]="getCellStyle(item.color_edoCot,item.fondo_edoCot)">
                  {{item.estado_cotizacion}}</p> -->
              </div>
              <div style="width: 5%; align-content: center; padding: 0px 0px 0px;">
                <!-- <button
                  matTooltip="Ver detalles"
                  mat-icon-button
                  (click)="verDetalle(item.ID)"
                > -->
                  <mat-icon class="destacado">visibility</mat-icon>
                <!-- </button> -->
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      }
    </div>
    </mat-expansion-panel>
  }
</div>
