<app-cabecera-popup [titulo]="'Modifica Usuario'" />
<mat-dialog-content [formGroup]="modificaUsuario()" name="modificaUsuario" class="modifica-container">
  <div class="row form-con-titulo contenido-form mat-elevation-z6" data-titulo="Modifica Datos del Usuario">

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Id Usuario</mat-label>
        <input matInput aria-label="Id Usuario" formControlName="idUsuario"  />
        @if (idUsuario.invalid) {
        <mat-error>{{ getErrorMessage("idUsuario") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Rut</mat-label>
        <input matInput id="rutUsuario" aria-label="Rut" class="input-rut rut"
          [formControl]="rutUsuario" oninput="this.value = this.value.toUpperCase()"
          (blur)="onBlurRutUsuario($event)" validaRut required/>
        @if (rutUsuario.invalid) {
        <mat-error>{{ getErrorMessage("rutUsuario") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Nombre</mat-label>
        <input matInput aria-label="Nombre" [formControl]="nombreUsuario" required />
        @if (nombreUsuario.invalid) {
        <mat-error>{{ getErrorMessage("nombreUsuario") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Apellido Paterno</mat-label>
        <input matInput aria-label="Apellido Paterno" [formControl]="apePaternoUsuario" required />
        @if (apePaternoUsuario.invalid) {
        <mat-error>{{ getErrorMessage("apePaternoUsuario") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Apellido Materno</mat-label>
        <input matInput aria-label="Apellido Materno" [formControl]="apeMaternoUsuario" required />
        @if (apeMaternoUsuario.invalid) {
        <mat-error>{{ getErrorMessage("apeMaternoUsuario") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Correo</mat-label>
        <input matInput aria-label="Correo" [formControl]="mailUsuario" required />
        @if (mailUsuario.invalid) {
        <mat-error>{{ getErrorMessage("mailUsuario") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Teléfono</mat-label>
        <input matInput aria-label="Teléfono" [formControl]="telefonoUsuario" required />
        @if (telefonoUsuario.invalid) {
        <mat-error>{{ getErrorMessage("telefonoUsuario") }}</mat-error>
        }
      </mat-form-field>


    <mat-form-field class="inputInput">
      <mat-label class="cursiva gris-claro">Selecciona Dependencia</mat-label>
      <mat-select [formControl]="dependenciaUsuario" >
        @for(_dependencia of dependencia(); track _dependencia.p_id_usuario){
        <mat-option [value]="_dependencia.p_id_usuario">
          {{ _dependencia.p_nombre_usuario + ' ' + _dependencia.p_apellido_paterno_usuario + ' ' +
          _dependencia.p_apellido_materno_usuario}}
        </mat-option>
        }
      </mat-select>
      @if(dependenciaUsuario.invalid){
      <mat-error>{{ getErrorMessage("dependenciaUsuario") }}</mat-error>
      }
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="barra-botones-form d-flex justify-content-center">
  <div class="me-5">
    <button type="button" mat-raised-button class="colorFondoBotonCerrar" mat-dialog-close [disabled]="false">
      Cerrar
    </button>
  </div>
  <div class="ms-5">
    <button type="button" mat-raised-button (click)="grabar()" [disabled]="modificaUsuario().invalid" [ngClass]="{
        colorFondoBotonGrabar: !modificaUsuario().invalid
      }">
      Grabar
    </button>
  </div>
</mat-dialog-actions>
