

<!-- <mat-card-actions>
  <div class="container-fluid d-flex p-2 mt-5">
    <div class="botones-derecha">
      <button
        type="button"
        mat-stroked-button
        color="primary"
        class="colorFondoBotonGuardar"
        (click)="cancelar()"
      >
        Cerrar
      </button>
      <button
        type="button"
        mat-stroked-button
        color="warn"
        class="botonesDetalle"
        [disabled]="cargando()"
        (click)="confirmarEliminacion()"
      >
        Eliminar
      </button>
    </div>
  </div>
</mat-card-actions> -->


<app-cabecera-popup [titulo]="'Eliminar Compañía'" />
<mat-dialog-content class="container-fluid p-0">


<mat-dialog-content class="p-0" name="eliminarCompania">
  <mat-card>
    <mat-card>
      <mat-card-content>
        <div class="d-flex" style="margin:auto;">
          <h3 class="destacado"><mat-icon class="warning mt-3">warning</mat-icon>
            &nbsp; Esta compañía será desvinculada de la solicitud nro. {{ data.p_id_solicitud }}.</h3>
        </div>

        <mat-label class="gris"> ¿Desea continuar? </mat-label>
        <mat-divider></mat-divider>
      </mat-card-content>
    </mat-card>

    <mat-card-actions>
      <div class="container-fluid d-flex p-2">
        <div class="botones-derecha">
          <button mat-stroked-button class="btn-danger" (click)="cancelar()">Cancelar</button>
          <button mat-stroked-button class="btn-success"
              (click)="confirmarEliminacion()">Confirmar eliminación</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>
