 <mat-dialog-content class="container-fluid mat-card-detalle p-0">
  <div class="barra-titulo card-con-titulo titulomodal d-flex" style="width: 100%;">
    <h2>Datos Beneficiarios  {{idSolicitud}}</h2>
    <button mat-icon-button mat-dialog-close [disabled]="false" style="align-content: center; padding: 0px 0px 0px;">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="container-fluid mt-5">
    <!-- <app-beneficiario [idSolicitud]="idSol()" /> -->
    <app-beneficiario [idSolicitud]="idSolicitud" [mostrarSoloConsulta]="true" />
  </div>
