<app-cabecera-popup [titulo]="'Ingresar Respuesta - Solicitud '+ this.datos.infoGral.id_solicitud" />
<mat-dialog-content class="container-fluid mat-card-detalle p-0">
  <!-- <div class="barra-titulo card-con-titulo titulomodal d-flex" style="width: 100%;">
    <h2>Ingresar Respuesta - {{ idSolicitud }} </h2>
    <button mat-icon-button mat-dialog-close [disabled]="false" style="align-content: center; padding: 0px 0px 0px;">
      <mat-icon>close</mat-icon>
    </button>
  </div> -->
  <div class="container-fluid mt-3">
    <app-informacion-general [infoGral]="datos.infoGral" />
  </div>
  <div class="container-fluid mt-3">
    <div class="table-con-titulo mat-elevation-z6" data-titulo="">
      <div class="container-fluid fondoGris justify-around d-flex p-4">
        <mat-card style="width: 49%;">
          <mat-card-header>
            <div style="display: flex; justify-content: space-between; width: 100%; margin-bottom: 5px;">
              <label class="destacado">Datos Asegurados</label>
              <button mat-stroked-button class="btn-info" style="display: flex; align-items: center;"
                (click)="verDetalleAse()">
                Ver Datos
                <mat-icon style="margin-left: 5px;">visibility</mat-icon>
              </button>
            </div>
          </mat-card-header>
        </mat-card>
        <mat-card style="width: 49%;">
          <mat-card-header>
            <div style="display: flex; justify-content: space-between; width: 100%; margin-bottom: 5px;">
              <label class="destacado">Datos Beneficiarios</label>
              <button mat-stroked-button matTooltip="view" class="btn-info" style="display: flex; align-items: center;"
                (click)="verDetalleBen()">
                Ver Datos
                <mat-icon style="margin-left: 5px;">visibility</mat-icon>
              </button>
            </div>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-3">
    <app-informacion-principal />
  </div>
</mat-dialog-content>
<mat-card-actions>
  <div class="container-fluid d-flex p-4">
    <div class="botones-derecha">
      <button mat-stroked-button color="primary" class="colorFondoBotonSalir" mat-dialog-close
        [disabled]="false">Cerrar</button>
      <button mat-stroked-button class="btn-info" (click)="registraRespuesta()">Registrar Respuesta</button>
    </div>
  </div>
</mat-card-actions>
