<app-cabecera-popup [titulo]="'Devolver con observaciones'"  />
<mat-dialog-content class="container-fluid p-0"
              [formGroup]="devolverSolicitud()" name="devolverSolicitud">
  <mat-card>
    <mat-card-header class="fondoGris d-flex justify-around">
      <div style="width: 20%;">
        <p class="destacado">ID solicitud</p>
        <p >{{ data.solicitudId }}</p>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div style="width: 40%; margin-left: 10px;">
        <p class="destacado">Fecha</p>
        <p>{{ data.fecha }}</p>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div style="width: 40%; margin-left: 10px;">
        <p class="destacado">Ejecutivo</p>
        <p>{{ data.ejecutivo }}</p>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="p-2" style="margin:auto;">
          <h3 class="destacado"><mat-icon class="warning mt-3">warning</mat-icon>
            &nbsp; Está por devolver esta solicitud al ejecutivo con observaciones</h3>
          <mat-label class="gris">Por favor, indique el motivo de la devolución para que el ejecutivo
          pueda realizar los ajustes necesarios.</mat-label>
      </div>
      <mat-form-field class="textarea-grande col-md-12"
        matTooltip="Motivo de devolución"
        matTooltipPosition="above">
          <mat-label class="gris-claro">Observación</mat-label>
          <textarea matInput [formControl]="motivo"
            maxlength="500" rows="6"></textarea>
          <mat-hint align="end">{{motivo.value?.length}} / 500</mat-hint>
          @if (motivo.invalid) {
            <mat-error>{{ getErrorMessage() }}</mat-error>
          }
        </mat-form-field>
      <mat-divider></mat-divider>
    </mat-card-content>
  </mat-card>
  </mat-dialog-content>
    <mat-card-actions>
      <div class="container-fluid d-flex p-2">
        <div class="botones-derecha">
          <button mat-stroked-button class="btn-danger"
            (click)="cancelar()">Cancelar</button>
          <button mat-stroked-button class="btn-success"
            [disabled]="motivo.value === null || motivo.value === ''"
            (click)="devolver(motivo.value!)">Confirmar devolución</button>
        </div>
      </div>
    </mat-card-actions>
