<div class="table-con-titulo mat-elevation-z6" data-titulo="Información General">
  <div class="container-fluid fondoGris justify-around d-flex p-4">
    <div style="width: 48%; display: flex; align-items: flex-start">
      <mat-card class="card-borde form-card contenido-card card-con-titulo mat-elevation-z6"
        data-titulo="Cotización Compañía" style="width: 100%">
        <div>
          <mat-form-field appearance="outline" class="inputInput-cuestionario" style="flex-grow: 1; min-width: 0">
            <mat-label class="labelI-cuestionario"></mat-label>
            <input matInput aria-label="labelI-cuestionario" disabled  placeholder="Carga el documento oficial del banco"/>
          </mat-form-field>
          <button type="button" mat-icon-button color="primary" class="boton-cargar-cuestionario"
            matTooltip="Cargar documento">
            <mat-icon>upload</mat-icon>
          </button>
          <button type="button" mat-icon-button color="warn" class="boton-eliminar-cuestionario"
            matTooltip="Eliminar documento">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </div>




   <div class="container-fluid fondoGris justify-around d-flex p-4">
    <div style="width: 48%; display: flex; align-items: flex-start">
      <mat-card class="card-borde form-card contenido-card card-con-titulo mat-elevation-z6"
        data-titulo="Cotización Propuesta" style="width: 100%">
        <div>
          <mat-form-field appearance="outline" class="inputInput-cuestionario" style="flex-grow: 1; min-width: 0">
            <mat-label class="labelI-cuestionario"></mat-label>
            <input matInput aria-label="labelI-cuestionario" disabled  placeholder="Carga el documento oficial del banco"/>
          </mat-form-field>
          <button type="button" mat-icon-button color="primary" class="boton-cargar-cuestionario"
            matTooltip="Cargar documento">
            <mat-icon>upload</mat-icon>
          </button>
          <button type="button" mat-icon-button color="warn" class="boton-eliminar-cuestionario"
            matTooltip="Eliminar documento">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
