
<app-cabecera-popup [titulo]="'Modifica Rubro'" />
<form [formGroup]="modificaRubro()">
<mat-dialog-content name="consulta" class="consulta-container">

    <div class="row form-con-titulo contenido-form mat-elevation-z6" data-titulo="Modificación de Rubro">
      <div class="col-md-3">
        <mat-form-field class="inputInput">
          <mat-label class="labelI">ID</mat-label>
          <input matInput formControlName="id_rubro"/>
        </mat-form-field>
        <mat-form-field class="inputInput">
          <mat-label class="labelI">Fecha Creación</mat-label>
          <input matInput [disabled]="true" [value]="data_.p_fecha_creacion" />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="inputInput">
          <mat-label class="labelI">Nombre</mat-label>
          <input matInput formControlName="nombre_rubro" required />
           <mat-error>@if (nombre_rubro.invalid) {{{ getErrorMessage('nombre_rubro') }}}</mat-error>
        </mat-form-field>
        <mat-form-field class="inputInput">
          <mat-label class="labelI">Usuario Creación</mat-label>
          <input matInput [disabled]="true" [value]="data_.p_usuario_creacion" />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="inputInput">
          <mat-label class="labelI">Estado</mat-label>
          <mat-select formControlName="estado_rubro" required>
            <mat-option value="Vigente">Vigente</mat-option>
            <mat-option value="No Vigente">No Vigente</mat-option>
          </mat-select>
           <mat-error>@if (estado_rubro.invalid) {{{ getErrorMessage('estado_rubro') }}}</mat-error>
        </mat-form-field>
        <mat-form-field class="inputInput">
          <mat-label class="labelI">Fecha Modificación</mat-label>
          <input matInput [disabled]="true" [value]="data_.p_fecha_modificacion" />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="inputInput" style="visibility: hidden;">
          <input matInput [disabled]="true" />
        </mat-form-field>
        <mat-form-field class="inputInput">
          <mat-label class="labelI">Usuario Modificación</mat-label>
          <input matInput [disabled]="true" [value]="_storage()?.usuarioLogin?.nombreUsuario" />
        </mat-form-field>
      </div>
    </div>
</mat-dialog-content>
</form>
<mat-dialog-actions class="barra-botones-form d-flex justify-content-center">
  <div class="me-5">
    <button type="button" mat-raised-button class="colorFondoBotonCerrar" mat-dialog-close [disabled]="false">
      Cerrar
    </button>
  </div>
  <div class="ms-5">
    <button type="button" mat-raised-button (click)="grabar()" [disabled]="modificaRubro().invalid"
      [ngClass]="{ colorFondoBotonGrabar: !modificaRubro().invalid }">
      Grabar
    </button>
   </div>
</mat-dialog-actions>
