<app-cabecera-popup [titulo]="'Modifica Rubro'" />
<mat-dialog-content name="consulta" class="consulta-container">
  <div
    class="row form-con-titulo contenido-form mat-elevation-z6"
    data-titulo="Modificación de Rubro"
  >
    <div class="col-md-3">
      <mat-form-field class="inputInput">
        <mat-label class="labelI">ID</mat-label>
        <input matInput aria-label="Id" value="{{ data.id_rubro }}" disabled="true" />
      </mat-form-field>
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Fecha Creación</mat-label>
        <input matInput aria-label="fCreacion" value="{{ data.fecha_creacion }}" disabled="true" />
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Nombre</mat-label>
        <input matInput aria-label="Nombre" value="{{ data.nombre_rubro }}" />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Usuario Creación</mat-label>
        <input
          matInput
          aria-label="usuario_creacion"
          value="{{ data.usuario_creacion }}"
          disabled="true"
        />
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <!-- <mat-form-field class="inputInput">
        <mat-label class="labelI">Estado</mat-label>
        <input matInput aria-label="Estado" value="{{ data.estado_rubro }}" />
      </mat-form-field> -->
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Estado</mat-label>
        <mat-select aria-label="estado_rubro" [formControl]="estado_rubro" required>
          <mat-option value="1">Vigente</mat-option>
          <mat-option value="2">No Vigente</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Fecha Modificación</mat-label>
        <input
          matInput
          aria-label="fModificacion"
          value="{{ data.fecha_modificacion }}"
          disabled="true"
        />
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="inputInput" style="visibility: hidden">
        <mat-label class="labelI"></mat-label>
        <input matInput aria-label="Estado" disabled="true" />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Usuario Modificación</mat-label>
        <input
          matInput
          aria-label="usuario_modificacion"
          value="{{ data.usuario_modificacion }}"
          disabled="true"
        />
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="barra-botones-form d-flex justify-content-center">
  <div class="me-5">
    <button
      type="button"
      mat-raised-button
      class="colorFondoBotonCerrar"
      mat-dialog-close
      [disabled]="false"
    >
      Cerrar
    </button>
  </div>
</mat-dialog-actions>
