<div class="barra-titulo">
  <h2 class="titulo">Elimina Beneficiario</h2>
</div>

<mat-dialog-content name="emlimina" class="elimina-container">
  <div class="row contenido-form  form-con-titulo mat-elevation-z6" data-titulo="Eliminar Beneficiario" style="margin-top: 32px;">
    <div class="col-md-6">
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Rut</mat-label>
        <input matInput value="{{ data.rutBeneficiario }}" disabled="true" />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Nombre</mat-label>
        <input matInput value="{{ data.nombreBeneficiario }}" disabled="true" />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Apellido Paterno</mat-label>
        <input
          matInput
          value="{{ data.apellidoPaternoBeneficiario }}"
          disabled="true"
        />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Apellido Materno</mat-label>
        <input
          matInput
          value="{{ data.apellidoMaternoBeneficiario }}"
          disabled="true"
        />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Región</mat-label>
        <input matInput value="{{ data.regionBeneficiario }}" disabled="true" />
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Ciudad</mat-label>
        <input matInput value="{{ data.ciudadBeneficiario }}" disabled="true" />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Comuna</mat-label>
        <input matInput value="{{ data.comunaBeneficiario }}" disabled="true" />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Dirección</mat-label>
        <input
          matInput
          value="{{ data.direccionBeneficiario }}"
          disabled="true"
        />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Teléfono</mat-label>
        <input
          matInput
          value="{{ data.telefonoBeneficiario }}"
          disabled="true"
        />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Correo</mat-label>
        <input matInput value="{{ data.correoBeneficiario }}" disabled="true" />
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-center">
  <div class="me-5">
    <button
      mat-raised-button
      class="colorFondoBotonCancelar"
      mat-dialog-close
      [disabled]="false"
    >
      Cancelar
    </button>
  </div>
  <div class="ms-5">
    <button
      class="colorFondoBotonEliminar"
      mat-raised-button
      (click)="eliminar()"
    >
      Eliminar
    </button>
  </div>
</mat-dialog-actions>
