<app-cabecera-popup [titulo]="'Eliminar Compañía de Seguros'" />

<mat-dialog-content class="agrega-container">
  <div
    class="row form-con-titulo contenido-form mat-elevation-z6"
    data-titulo="Eliminar Datos de la Compañía"
  >
    <!-- Columna 1 -->
    <div class="col-md-6">
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Rut Compañía</mat-label>
        <input matInput [value]="data.p_rut_compania_seguro" disabled />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Nombre Compañía</mat-label>
        <input matInput [value]="data.p_nombre_compania_seguro" disabled />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Estado</mat-label>
        <mat-select [value]="data.p_estado_compania_seguro" disabled>
          <mat-option value="Vigente">Vigente</mat-option>
          <mat-option value="No Vigente">No Vigente</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Columna 2 -->
    <div class="col-md-6">
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Dirección</mat-label>
        <input matInput [value]="data.p_direccion_compania_seguro" disabled />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Teléfono</mat-label>
        <input matInput [value]="data.p_telefono_compania_seguro" disabled />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Correo</mat-label>
        <input matInput [value]="data.p_correo_compania_seguro" disabled />
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="barra-botones-form d-flex justify-content-center">
  <div class="me-5">
    <button mat-raised-button mat-dialog-close class="colorFondoBotonCerrar">
      Cancelar
    </button>
  </div>
  <div class="ms-5">
    <button
      mat-raised-button
      class="colorFondoBotonEliminar"
      (click)="eliminar()"
    >
      Eliminar
    </button>
  </div>
</mat-dialog-actions>
