.justify-around{
  display: flex;
  justify-content: space-between;
}

/* Esto puede ser de uso general */
.fondoGris{
  background-color: #E8E8EA;
  color: #666668;
}

.titulo{
  color: #285B9B
}

.fontSmall{
  font-size: 12px;
}

.picker {
  margin-top: 15px; /* Ajusta este valor según lo que necesites */
}


mat-form-field {
  margin-left: auto; /* empuja el picker hacia la derecha */
}

