<div class="container-fluid">
  <div class="container-fluid d-flex justify-around p-2">
    <h1 mat-dialog-title class="mt-2 titulo">Te damos la bienvenida</h1>
    <mat-form-field class="inputFechaForm">
      <mat-label class="fontSmall gris">Actualizado el:</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <app-resumen-general/>
  <app-solicitudes-gestionadas/>

  <div class="container-fluid fondoGris flex">
    <app-distribucion/>
  </div>
</div>
