.justify-around{
  display: flex;
  justify-content: space-between;
}

/* Esto puede ser de uso general */
.fondoGris{
  background-color: #E8E8EA;
  color: #666668;
}

.titulo{
  color: #285B9B
}

.fontSmall{
  font-size: 12px;
}

.inputFechaForm {
  font-size: 12px !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-top: 3px !important;
  padding-bottom: 5px !important;
  height: 65px !important;
  /*tamaño height de inpul*/
  margin-bottom: 0px !important;
  color: #666668;
}
