  <div class="container-fluid d-flex justify-around p-0 mb-4">
    <h1 mat-dialog-title class="titulo">Te damos la bienvenida</h1>
    <mat-form-field class="inputFecha p-0">
      <mat-label class="gris">Actualizado el:</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="fechaActual" (dateChange)="seleccionaFecha()">
      <mat-datepicker-toggle matIconSuffix [for]="picker" class="fontSmall"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <app-resumen-general [datoResumenGeneral]="resumenGeneral()"/>
  <app-solicitudes-gestionadas [datosSolicitud]="listadoSolicitudes()"/>

  <div class="container-fluid fondoGris flex">
    <app-distribucion [listadoSolicitudesGrafiico]="listadoSolicitudes()"/>
  </div>
