<app-cabecera-popup [titulo]="'Elimina Asegurado'"  />
<mat-dialog-content name="eliminaAsegurado" class="elimina-container">
  <div
    class="row form-con-titulo contenido-form mat-elevation-z6"
    data-titulo="Eliminar Asegurado"
  >
    <div class="col-md-4">
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Rut</mat-label>
        <input
          matInput
          aria-label="Rut"
          value="{{ data.datoAseguradoPar.rutAsegurado }}"
          disabled="true"
        />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Nombre</mat-label>
        <input
          matInput
          aria-label="Nombre"
          value="{{ data.datoAseguradoPar.nombreRazonSocialAsegurado }}"
          disabled="true"
        />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Correo</mat-label>
        <input
          matInput
          aria-label="Correo"
          value="{{ data.datoAseguradoPar.mailAsegurado }}"
          disabled="true"
        />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Teléfono</mat-label>
        <input
          matInput
          aria-label="Teléfono"
          value="{{ data.datoAseguradoPar.telefonoAsegurado }}"
          disabled="true"
        />
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Región</mat-label>
        <input
          matInput
          aria-label="Región"
          value="{{ data.datoAseguradoPar.regionAsegurado }}"
          disabled="true"
        />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Ciudad</mat-label>
        <input
          matInput
          aria-label="Ciudad"
          value="{{ data.datoAseguradoPar.ciudadAsegurado }}"
          disabled="true"
        />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Comuna</mat-label>
        <input
          matInput
          aria-label="Comuna"
          value="{{ data.datoAseguradoPar.comunaAsegurado }}"
          disabled="true"
        />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Dirección</mat-label>
        <input
          matInput
          aria-label="Dirección"
          value="{{ data.datoAseguradoPar.direccionAsegurado }}"
          disabled="true"
        />
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Número Dirección</mat-label>
        <input
          matInput
          aria-label="Número Dirección"
          value="{{ data.datoAseguradoPar.numeroDirAsegurado }}"
          disabled="true"
        />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Número Departamento</mat-label>
        <input
          matInput
          aria-label="Número Departamento"
          value="{{ data.datoAseguradoPar.departamentoBlockAsegurado }}"
          disabled="true"
        />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Número Casa</mat-label>
        <input
          matInput
          aria-label="Número Casa"
          value="{{ data.datoAseguradoPar.casaAsegurado }}"
          disabled="true"
        />
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="barra-botones-form d-flex justify-content-center">
  <div class="me-5">
    <button
      type="button"
      mat-raised-button
      mat-dialog-close
      class="colorFondoBotonCerrar"
      [disabled]="false"
    >
      Cancelar
    </button>
  </div>
  <div class="ms-5">
    <button
      type="button"
      class="colorFondoBotonEliminar"
      mat-raised-button
      (click)="eliminar()"
    >
      Eliminar
    </button>
  </div>
</mat-dialog-actions>
