<app-cabecera-popup [titulo]="'Consulta Beneficiario'"  />
<mat-dialog-content name="consulta" class="consulta-container">
  <div
    class="row form-con-titulo contenido-form mat-elevation-z6"
    data-titulo="Consulta de Beneficiario"
  >
    <div class="col-md-4">
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Rut</mat-label>
        <input
          matInput
          aria-label="Rut"
          value="{{ data.rut_beneficiario }}"
          disabled="true"
        />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Nombre</mat-label>
        <input
          matInput
          aria-label="Nombre"
          value="{{ data.nombre_razon_social_beneficiario }}"
          disabled="true"
        />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Correo</mat-label>
        <input
          matInput
          aria-label="Correo"
          value="{{ data.mail_beneficiario }}"
          disabled="true"
        />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Teléfono</mat-label>
        <input
          matInput
          aria-label="Teléfono"
          value="{{ data.telefono_beneficiario }}"
          disabled="true"
        />
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Región</mat-label>
        <input
          matInput
          aria-label="Región"
          value="{{ data.region_beneficiario }}"
          disabled="true"
        />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Ciudad</mat-label>
        <input
          matInput
          aria-label="Ciudad"
          value="{{ data.ciudad_beneficiario }}"
          disabled="true"
        />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Comuna</mat-label>
        <input
          matInput
          aria-label="Comuna"
          value="{{ data.comuna_beneficiario }}"
          disabled="true"
        />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Dirección</mat-label>
        <input
          matInput
          aria-label="Dirección"
          value="{{ data.direccion_beneficiario }}"
          disabled="true"
        />
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Número Dirección</mat-label>
        <input
          matInput
          aria-label="Número Dirección"
          value="{{ data.numero_dir_beneficiario }}"
          disabled="true"
        />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Número Departamento</mat-label>
        <input
          matInput
          aria-label="Número Departamento"
          value="{{ data.departamento_block_beneficiario }}"
          disabled="true"
        />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Número Casa</mat-label>
        <input
          matInput
          aria-label="Número Casa"
          value="{{ data.casa_beneficiario }}"
          disabled="true"
        />
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="barra-botones-form d-flex justify-content-center">
  <div class="me-5">
    <button
      type="button"
      mat-raised-button
      class="colorFondoBotonCerrar"
      mat-dialog-close
      [disabled]="false"
    >
      Cerrar
    </button>
  </div>
</mat-dialog-actions>
