<div class="table-con-titulo mat-elevation-z6" data-titulo="Rubros" style="margin-top: 32px">
  <table mat-table [dataSource]="dataSource()" multiTemplateDataRows matSort>
    <ng-container matColumnDef="index">
      <th id="indexI" mat-header-cell *matHeaderCellDef mat-sort-header style="width: 3%">N°</th>
      <td mat-cell *matCellDef="let row; let i = dataIndex" style="width: 3%">
        {{ i + 1 + myPaginator.pageIndex * myPaginator.pageSize }}
      </td>
    </ng-container>

    <ng-container matColumnDef="id_rubro">
      <th id="_id_rubro" mat-header-cell *matHeaderCellDef mat-sort-header style="width: 3%">ID</th>
      <td mat-cell *matCellDef="let row" style="width: 3%">
        {{ row.id_rubro }}
      </td>
    </ng-container>

    <ng-container matColumnDef="nombre_rubro">
      <th id="_nombre_rubro" mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%">
        Rubro
      </th>
      <td mat-cell *matCellDef="let row" style="width: 7%">
        {{ row.nombre_rubro }}
      </td>
    </ng-container>

    <ng-container matColumnDef="estado_rubro">
      <th id="_estado_rubro" mat-header-cell *matHeaderCellDef mat-sort-header style="width: 11%">
        Estado
      </th>
      <td mat-cell *matCellDef="let row" style="width: 11%">
        {{ row.estado_rubro }}
      </td>
    </ng-container>

    <ng-container matColumnDef="fecha_creacion">
      <th id="_fecha_creacion" mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%">
        Fecha Creación
      </th>
      <td mat-cell *matCellDef="let row" style="width: 10%">
        {{ row.fecha_creacion }}
      </td>
    </ng-container>

    <ng-container matColumnDef="usuario_creacion">
      <th
        id="_usuario_creacion"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="width: 11%"
      >
        Usuario Creación
      </th>
      <td mat-cell *matCellDef="let row" style="width: 11%">
        {{ row.usuario_creacion }}
      </td>
    </ng-container>

    <ng-container matColumnDef="fecha_modificacion">
      <th
        id="_fecha_modificacion"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="width: 11%"
      >
        Fecha Modificación
      </th>
      <td mat-cell *matCellDef="let row" style="width: 11%">
        {{ row.fecha_modificacion }}
      </td>
    </ng-container>

    <ng-container matColumnDef="usuario_modificacion">
      <th
        id="_usuario_modificacion"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="width: 12%"
      >
        Usuario Modificación
      </th>
      <td mat-cell *matCellDef="let row" style="width: 12%">
        {{ row.usuario_modificacion }}
      </td>
    </ng-container>

    <ng-container matColumnDef="opciones">
      <th id="opcionesI" mat-header-cell *matHeaderCellDef style="width: 15%; text-align: center">
        <button
          type="button"
          class="agregar-texto"
          matTooltip="Agregar nuevo Rubro"
          matTooltipPosition="above"
          (click)="agregaNuevoRubro()"
          (keyup)="agregaNuevoRubro()"
        >
          <mat-icon style="vertical-align: middle">add</mat-icon>
          Agregar
        </button>
      </th>

      <td mat-cell *matCellDef="let row; let i = index" style="width: 15%; text-align: center">
        <button
          type="button"
          matTooltip="Modificar"
          mat-icon-button
          class="tabla"
          (click)="modificaRubro(row)"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button
          type="button"
          matTooltip="Consultar"
          mat-icon-button
          class="tabla"
          (click)="consultaRubro(row)"
        >
          <mat-icon>visibility</mat-icon>
        </button>

        <!-- <button type="button" matTooltip="Eliminar" mat-icon-button class="tabla" (click)="eliminaRubro(row)">
          <mat-icon>delete</mat-icon>
        </button> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" class="example-element-row"></tr>
  </table>
  @if (this.datoRubros().length === 0) {
    <div class="info SinInfoTabla">No hay Rubros para mostrar</div>
  }
</div>

<mat-paginator #myPaginator [pageSizeOptions]="[10, 20, 30, 100]"></mat-paginator>
