<app-cabecera-popup [titulo]="'Creación Propuesta - '+this.idSolicitud" />
<mat-dialog-content class="container-fluid mat-card-detalle p-0">

  <div class="container-fluid mt-3">
    <app-informacion-general [infoGral]="infoGral()" />
  </div>
  <div class="container-fluid mt-3">
    <app-asegurado [idSolicitud]="idSolicitud" [mostrarSoloConsulta]="true" />
  </div>
  <div class="container-fluid mt-3">
    <app-beneficiario [idSolicitud]="idSolicitud" [mostrarSoloConsulta]="true" />
  </div>
  <div class="container-fluid mt-3">
    <div class="table-con-titulo mat-elevation-z6" data-titulo="Datos Materia Asegurada" style="margin-top: 32px">
      <app-materia-asegurada [idSolicitud]="idSolicitud" [idRubro]="infoGral()?.id_rubro!"
        [idSeguro]="infoGral()?.id_tipo_seguro!" [muestraConsulta]="true" />
    </div>
  </div>
    <div class="container-fluid mt-3">
    <div class="table-con-titulo mat-elevation-z6" data-titulo="Documentos Asociados" style="margin-top: 32px">
      <app-doc-asociados />
    </div>
  </div>
</mat-dialog-content>
<mat-card-actions>
  <div class="container-fluid d-flex p-4">
    <!-- <div style="justify-content: flex-start;">
      <button mat-stroked-button color="primary" class="colorFondoBotonSalir" mat-dialog-close
        [disabled]="false">Cerrar</button>
    </div> -->
    <div class="botones-izquierda">
      <button mat-stroked-button class="btn-success">Volver</button>
      <button mat-stroked-button class="btn-info" (click)="crearPpta()">Generar Propuesta</button>
    </div>
  </div>
</mat-card-actions>
