.justify-around{
  display: flex;
  justify-content: space-between;
}

/* Esto puede ser de uso general */
.fondoGris{
  background-color: #E8E8EA;
  color: #666668;
}

.titulo{
  color: #285B9B
}

.fontSmall{
  font-size: 12px;
}


/* Botones carga cuestionario */
.boton-cargar {
  background-color: #149dc9 !important;
  color: #f2f2f4 !important;
  font-size: 11px !important;
  font-family: "Roboto", sans-serif !important;
  margin-left: 12px;
}

.boton-cargar:hover {
  background-color: #0f8dba !important;
  color: #f2f2f4 !important;
}

.colorFondoBotonEliminar mat-icon {
  color: #f45516 !important;
}

