.mat-card-detalle{
  padding: 0px 0px 0px;
  border-radius: 0px;
  max-width: 100%;
  max-height: 100%;
}

.msj-warning {
  border-radius: 1px;
  box-shadow: #ffc725;
  color: #ffc725 !important;
  background-color: #FFF7DF !important;
  margin-right: 10px;
}
