<mat-card class="container-fluid mat-card-detalle">
  <mat-card-title class="barra-titulo card-con-titulo titulomodal d-flex" style="width: 100%;">
    <h2>Detalle de solicitud - {{ idSolicitud }} </h2>
    <button mat-icon-button mat-dialog-close [disabled]="false"
      style="align-content: center; padding: 0px 0px 0px;">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Información General">
        <div class="container-fluid mt-5">
          <app-informacion-general [infoGral]="infoGral()"/>
          <app-observaciones [observaciones]="observaciones()"/>
          <app-companias-contactadas [idSolicitud]="idSolicitud"/>
        </div>
      </mat-tab>
      <mat-tab label="Asegurados">
        <div class="container-fluid">
          <app-asegurado [idSolicitud]="idSol()" />
        </div>
      </mat-tab>
      <mat-tab label="Beneficiarios">
        <div class="container-fluid">
          <app-beneficiario [idSolicitud]="idSol()" />
        </div>
      </mat-tab>
      <mat-tab label="Materia Asegurada">
        <div class="container-fluid fondoGris"></div>
        <!-- <app-en-cotizacion/> -->
      </mat-tab>
      <mat-tab label="Documentos Asociados">
        <div class="container-fluid">
          <app-cuestionario-documentos [idSolicitud]="idSol()" />
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-card-actions>
    <div class="container-fluid d-flex p-4">
      <div style="justify-content: flex-start;">
        <button mat-stroked-button color="primary" class="colorFondoBotonSalir"
            mat-dialog-close [disabled]="false">Cerrar</button>
      </div>
      <div class="botones-derecha">
        <button mat-stroked-button class="btn-danger"
          (click)="anularSolicitud()">Anular Solicitud</button>
        <button mat-stroked-button class="btn-warning"
          (click)="devolverSolicitud()">Devolver solicitud</button>
        <button mat-stroked-button class="btn-success"
          (click)="aprobarSolicitud()">Aprobar Solicitud</button>
        <button mat-stroked-button class="btn-info"
          (click)="enviarCia()">Agregar Compañía</button>
        <button mat-stroked-button class="btn-primary"
          (click)="corregirSolicitud()">Enviar Solicitud</button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
