 <!-- <div class="table-con-titulo mat-elevation-z6"
  data-titulo="Observaciones" style="margin-top: 32px"> -->
<div class="container-fluid" style=" padding: 0px 0px 12px;">
  @if(observaciones()?.length!==0 && observaciones()!==undefined){
  <mat-expansion-panel class="mat-elevation-z6"
    style="border-radius: 10px; border: 1px solid; border-color: #234E85; padding: 4px;"
      (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="destacado"> Observaciones
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="container-fluid fondoGris" style="padding: 10px 10px 10px;">
        @for(item of observaciones(); track $index){
          <div class="container-fluid p-2">
            <mat-card class="alinea-card-gestion">
              <mat-card-content class="d-flex p-0">
                <div class ="p-2" style="width: 25%;">
                  <p class="fontSmall">Fecha creación</p>
                  <p class="fontLarge">{{item.fecha_creacion_observacion}}</p>
                </div>
                <mat-divider [vertical]="true"></mat-divider>
                <div class ="p-2" style="width: 25%;">
                  <p class="fontSmall">Fecha corrección</p>
                  <p class="fontLarge">{{item.fecha_correccion_observacion}}</p>
                </div>
                <div class ="p-2" style="width: 25%;">
                  <p class="fontSmall">Observación</p>
                  <p class="fontLarge">{{item.observacion}}</p>
                </div>
                <mat-divider [vertical]="true"></mat-divider>
                <div class ="p-2" style="width: 25%;">
                  <p class="fontSmall">Coordinador</p>
                  <p class="fontLarge">{{item.nombre_coordinador}}</p>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        }
      </div>
    </mat-expansion-panel>
  }
</div>
