<div
  class="table-con-titulo mat-elevation-z6"
  data-titulo="Datos del Beneficiario"
  style="margin-top: 32px"
>
  <table
    mat-table
    [dataSource]="dataSourceBeneficiario()"
    multiTemplateDataRows
    matSort
  >
    <ng-container matColumnDef="index">
      <th
        id="indexI"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="width: 3%"
      >
        N°
      </th>
      <td mat-cell *matCellDef="let row; let i = dataIndex" style="width: 3%">
        {{ i + 1 + myPaginator.pageIndex * myPaginator.pageSize }}
      </td>
    </ng-container>

    <ng-container matColumnDef="rutBeneficiario">
      <th
        id="_rutBeneficiario"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="width: 11%"
      >
        Rut
      </th>
      <td mat-cell *matCellDef="let row" style="width: 11%">
        {{ row.rut_beneficiario }}
      </td>
    </ng-container>

    <ng-container matColumnDef="nombreBeneficiario">
      <th
        id="_nombreBeneficiario"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="width: 33%"
      >
        Nombre/Razón Social
      </th>
      <td mat-cell *matCellDef="let row" style="width: 33%">
        {{ row.nombre_razon_social_beneficiario }}
      </td>
    </ng-container>

    <ng-container matColumnDef="regionBeneficiario">
      <th
        hidden="true"
        id="_regionBeneficiario"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="width: 0%"
      >
        Región
      </th>
      <td hidden="true" mat-cell *matCellDef="let row" style="width: 0%">
        {{ row.region_beneficiario }}
      </td>
    </ng-container>

    <ng-container matColumnDef="ciudadBeneficiario">
      <th
        hidden="true"
        id="_ciudadBeneficiario"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="width: 0%"
      >
        Ciudad
      </th>
      <td hidden="true" mat-cell *matCellDef="let row" style="width: 0%">
        {{ row.ciudad_beneficiario }}
      </td>
    </ng-container>

    <ng-container matColumnDef="comunaBeneficiario">
      <th
        hidden="true"
        id="_comunaBeneficiario"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="width: 0%"
      >
        Comuna
      </th>
      <td hidden="true" mat-cell *matCellDef="let row" style="width: 0%">
        {{ row.comuna_beneficiario }}
      </td>
    </ng-container>

    <ng-container matColumnDef="direccionBeneficiario">
      <th
        hidden="true"
        id="_direccionBeneficiario"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="width: 0%"
      >
        Dirección
      </th>
      <td hidden="true" mat-cell *matCellDef="let row" style="width: 0%">
        {{ row.direccion_beneficiario }}
      </td>
    </ng-container>

    <ng-container matColumnDef="numeroDireccionBeneficiario">
      <th
        hidden="true"
        id="_numeroDireccionBeneficiario"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="width: 0%"
      >
        Número Dirección
      </th>
      <td hidden="true" mat-cell *matCellDef="let row" style="width: 0%">
        {{ row.numero_dir_beneficiario }}
      </td>
    </ng-container>

    <ng-container matColumnDef="deptoDireccionBeneficiario">
      <th
        hidden="true"
        id="_deptoDireccionBeneficiario"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="width: 0%"
      >
        Número Depto Dirección
      </th>
      <td hidden="true" mat-cell *matCellDef="let row" style="width: 0%">
        {{ row.departamento_block_beneficiario }}
      </td>
    </ng-container>

    <ng-container matColumnDef="casaBeneficiario">
      <th
        hidden="true"
        id="_casaBeneficiario"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="width: 0%"
      >
        Número Casa Dirección
      </th>
      <td hidden="true" mat-cell *matCellDef="let row" style="width: 0%">
        {{ row.casa_beneficiario }}
      </td>
    </ng-container>

    <ng-container matColumnDef="telefonoBeneficiario">
      <th
        id="_telefonoBeneficiario"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="width: 11%"
      >
        Teléfono
      </th>
      <td mat-cell *matCellDef="let row" style="width: 11%">
        {{ row.telefono_beneficiario }}
      </td>
    </ng-container>

    <ng-container matColumnDef="correoBeneficiario">
      <th
        id="_correoBeneficiario"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="width: 27%"
      >
        Correo
      </th>
      <td mat-cell *matCellDef="let row" style="width: 27%">
        {{ row.mail_beneficiario }}
      </td>
    </ng-container>

    <ng-container matColumnDef="opciones">
      <th
        id="opcionesI"
        mat-header-cell
        *matHeaderCellDef
        style="width: 15%; text-align: center"

      >
        <span
          class="agregar-texto"
          matTooltip="Agregar nuevo beneficiario"
          matTooltipPosition="above"
          (click)="agregaNuevoBeneficiario()"
          [hidden]="mostrarSoloConsulta()"
        >
          <mat-icon style="vertical-align: middle">add</mat-icon>
          Agregar
        </span>
      </th>
      x

      <td
        mat-cell
        *matCellDef="let row; let i = index"
        style="width: 15%; text-align: center"
      >
        <button
          matTooltip="Modificar"
          mat-icon-button
          class="tabla"
          (click)="modificaBeneficiario(row)"
          [hidden]="mostrarSoloConsulta()"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button
          matTooltip="Consultar"
          mat-icon-button
          class="tabla"
          (click)="consultaBeneficiario(row)"
        >
          <mat-icon>visibility</mat-icon>
        </button>

        <button
          matTooltip="Eliminar"
          mat-icon-button
          class="tabla"
          (click)="eliminaBeneficiario(row)"
          [hidden]="mostrarSoloConsulta()"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsBeneficiario"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumnsBeneficiario"
      class="example-element-row"
    ></tr>
  </table>
   @if(this.datoBeneficiarios().length === 0 ){
          <div class="info SinInfoTabla">
            No hay beneficiarios para mostrar</div>
        }
</div>

<mat-paginator
  #myPaginator
  [pageSizeOptions]="[10, 20, 30, 100]"
></mat-paginator>
