  <mat-card class="fondoGris alinea-card-gestion" >
    <mat-card-title style="padding: 0px 16px 0px;">
      <h2 mat-dialog-title class="titulo">Resumen general de solicitudes</h2>
    </mat-card-title>

    <mat-card-content class="d-flex p-2 justify-around" style="width: 100%;">
      <mat-card class="d-flex" style="width: 24%;">
        <mat-card-content class="d-flex p-1" style="justify-content: start; padding: 0px;">
          <div class="container-fluid alinea-cards">
            <p>En proceso:</p></div>
          <div class="container-fluid alinea-cards-2">
          <p class="container-fluid alinea-cards-2">{{enProceso}}</p>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="d-flex" style="width: 24%;">
        <mat-card-content class="d-flex p-1" style="justify-content: start; padding: 0px;">
          <div class="container-fluid alinea-cards">
            <p>Esperando respuesta</p></div>
          <div class="container-fluid alinea-cards-2">
          <p class="container-fluid alinea-cards-2">{{enEspera}}</p>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="d-flex" style="width: 24%;">
        <mat-card-content class="d-flex p-1" style="justify-content: start; padding: 0px;">
          <div class="container-fluid alinea-cards">
            <p>Aprobadas</p></div>
          <div class="container-fluid  alinea-cards-2">
          <p class="container-fluid alinea-cards-2">{{aprobadas}}</p>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="d-flex" style="width: 24%;">
        <mat-card-content class="d-flex p-1" style="justify-content: start; padding: 0px;">
          <div class="container-fluid alinea-cards">
            <p>Con observaciones</p></div>
          <div class="container-fluid alinea-cards-2">
          <p class="container-fluid alinea-cards-2">{{conObs}}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
