<div class="container-fluid d-flex justify-around p-2">
  <mat-card class="d-flex" style="width: 24%;">
    <mat-card-content class="d-flex" style="justify-content: start;">
      <div class="container-fluid alinea-cards">
        <p>En proceso:</p></div>
      <div class="container-fluid alinea-cards-2">
       <h2 class="titulo">{{enProceso}}</h2>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="d-flex" style="width: 24%;">
    <mat-card-content class="d-flex" style="justify-content: start;">
      <div class="container-fluid alinea-cards">
        <p>Esperando respuesta</p></div>
      <div class="container-fluid alinea-cards-2">
       <h2 class="titulo">{{enEspera}}</h2>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="d-flex" style="width: 24%;">
    <mat-card-content class="d-flex" style="justify-content: start;">
      <div class="container-fluid alinea-cards">
        <p>Aprobadas</p></div>
      <div class="container-fluid  alinea-cards-2">
       <h2 class="titulo">{{aprobadas}}</h2>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="d-flex" style="width: 24%;">
    <mat-card-content class="d-flex" style="justify-content: start;">
      <div class="container-fluid alinea-cards">
        <p>Con observaciones</p></div>
      <div class="container-fluid alinea-cards-2">
       <h2 class="titulo">{{conObs}}</h2>
      </div>
    </mat-card-content>
  </mat-card>
</div>
