.justify-around{
  display: flex;
  justify-content: space-between;
}

/* Esto puede ser de uso general */
.fondoGris{
  background-color: #E8E8EA;
  color: #666668;
}

.destacado{
  color: #285B9B
}

.fontSmall{
  font-size: 12px;
}

.alinea-cards{
  margin-top: 14px;
  align-content: center;
  justify-content: start;
  width: 60%;
  font-size: 16px;
}

.alinea-cards-2{
  margin-top: 9px;
  align-content: center;
  justify-content: start;
  width: 15%;
  font-size: 16px;
  font-weight: bold;
}

.alinea-card-gestion{
  margin-bottom: 0.5rem;
  /* padding-bottom: 0px; */
  padding: 10px 10px 0px;
}
