.alinea-card-gestion{
  margin-bottom: 0.5rem;
  /* padding-bottom: 0px; */
  padding: 10px 16px 10px;
  background-color: #E8E8EA !important;
}

/*elimina el espacio que está debajo*/
.mat-mdc-form-field {
  flex-direction:initial;
}

 h2 {
    margin: 0px;
}

/* .edicion{
  color:#666668;
  background-color: #E8E8EA;
  border: 1px solid #666668;
  width: fit-content;
  padding-left: 5%;
  padding-right: 5%;
}

.revision{
  color: #149DC9;
  background-color: #D0EBF4;
  border: 1px solid #149DC9;
  width: fit-content;
  padding-left: 5%;
  padding-right: 5%;
}

.observ{
  color: #FFC725;
  background-color: #FFF7DF;
  border: 1px solid #FFC725;
  width: fit-content;
  padding-left: 5%;
  padding-right: 5%;
}

.cotizacion{
  color: #234E85;
  background-color: #D0EBF4;
  border: 1px solid #234E85;
  width: fit-content;
  padding-left: 5%;
  padding-right: 5%;
}

.pendiente{
  color:#776D92;
  background-color: #E8E8EA;
  border: 1px solid #776D92;
  width: fit-content;
  padding-left: 5%;
  padding-right: 5%;
}

.emitida{
  color: #002464;
  background-color: #D0EBF4;
  border: 1px solid #002464;
  width: fit-content;
  padding-left: 5%;
  padding-right: 5%;
}

.anulada {
  color: #F45516;
  background-color: #FDE6DC;
  border: 1px solid #F45516;
  width: fit-content;
  padding-left: 5%;
  padding-right: 5%;
}

.aprobada{
  color: #6BAA1F;
  background-color: #E9F2DE;
  border: 1px solid #6BAA1F;
  width: fit-content;
  padding-left: 5%;
  padding-right: 5%;
}

.firmada{
  color: #A6B118;
  background-color: #E9F2DE;
  border: 1px solid #A6B118;
  width: fit-content;
  padding-left: 5%;
  padding-right: 5%;
}

.terminada{
  color: #C21589;
  background-color: lightpink;
  border: 1px solid #C21589;
  width: fit-content;
  padding-left: 5%;
  padding-right: 5%;
}

.rechazada{
  color: #D11D1A;
  background-color: #FDE6DC;
  border: 1px solid #D11D1A;
  width: fit-content;
  padding-left: 5%;
  padding-right: 5%;
}
 */
