<div class="m-5">
<div class="barra-titulo">
  <h2 class="titulo">Ingreso Aplicativo v.23</h2>
</div>

<mat-dialog-content [formGroup]="ingresoLogin()" name="ingresoLogin" class="agrega-container">
  <div class="row contenido-form form-con-titulo mat-elevation-z6" data-titulo="Ingreso">
    <mat-form-field class="inputInput">
        <mat-label class="labelI">Código</mat-label>
        <input matInput aria-label="labelI" [formControl]="usuario" style="text-transform: lowercase;" required />
        @if (usuario.invalid) {
        <mat-error>{{ getErrorMessage("usuario") }}</mat-error>
        }
      </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-center">

  <div class="">
    <button type="button" mat-raised-button (click)="ingresar()" [disabled]="ingresoLogin().invalid">
      Ingresar
    </button>
  </div>
</mat-dialog-actions>
</div>
