<mat-dialog-content [formGroup]="anularSolicitud()" name="anularSolicitud"
  class="container-fluid" style="padding: 0px 0px 0px; border-radius: 0px;">
  <div class="barra-titulo card-con-titulo titulomodal d-flex" style="width: 100%;">
    <h2>&nbsp; Confirmación de Anulación</h2>
    <button mat-icon-button mat-dialog-close [disabled]="false"
      style="align-content: center; padding: 0px 0px 0px;">
      <mat-icon>close</mat-icon>
    </button>
  </div>
<mat-card>
  <mat-card-content>
    <div class="d-flex" style="margin:auto;">
        <h3 class="destacado"><mat-icon class="warning mt-3">warning</mat-icon>
          &nbsp; La solicitud nro. {{ data.solicitudId }} quedará anulada</h3>
    </div>
    <mat-form-field class="textarea-grande col-md-12 p-2"
      matTooltip="Indique el motivo de anulación"
      matTooltipPosition="above">
        <mat-label class="gris-claro">Motivo de anulación</mat-label>
        <textarea matInput [formControl]="motivo"
        autofocus maxlength="500" rows="6" required></textarea>
        <mat-hint align="end">{{motivo.value?.length}} / 500</mat-hint>
        @if (motivo.invalid) {
        <mat-error>{{ getErrorMessage() }}</mat-error>
        }
    </mat-form-field>
    <mat-label class="gris">
      Tenga en cuenta que esta acción es irreversible una vez confirmada.<br>
      ¿Desea continuar?
    </mat-label>
    <mat-divider></mat-divider>
  </mat-card-content>
</mat-card>
</mat-dialog-content>
  <mat-card-actions>
    <div class="container-fluid d-flex p-2">
      <div class="botones-derecha">
        <button mat-stroked-button class="btn-danger"
          (click)="cancelar()">Cancelar</button>
        <button mat-stroked-button class="btn-success"
          (click)="confirmar()">Confirmar anulación</button>
      </div>
    </div>
  </mat-card-actions>
