<app-cabecera-popup [titulo]="'Confirmación de Anulación - '+data.solicitudId" />
<mat-dialog-content class="container-fluid p-0">


<mat-dialog-content class="p-0">
  <mat-card>
    <mat-card>
      <mat-card-content>
        <div class="d-flex" style="margin:auto;">
          <h3 class="destacado"><mat-icon class="warning mt-3">warning</mat-icon>
            &nbsp; La solicitud nro. {{ data.solicitudId }} quedará anulada</h3>
        </div>
        <mat-form-field class="textarea-grande col-md-12" matTooltip="Indique el motivo de anulación"
          matTooltipPosition="above">
          <mat-label class="gris-claro">Motivo de anulación</mat-label>
          <textarea matInput #motivo maxlength="500" rows="6"></textarea>
          <mat-hint align="end">{{motivo.value.length}} / 500</mat-hint>
        </mat-form-field>
        <mat-label class="gris">
          Tenga en cuenta que esta acción es irreversible una vez confirmada.<br>
          ¿Desea continuar?
        </mat-label>
        <mat-divider></mat-divider>
      </mat-card-content>
    </mat-card>

    <mat-card-actions>
      <div class="container-fluid d-flex p-2">
        <div class="botones-derecha">
          <button mat-stroked-button class="btn-danger" (click)="cancelar()">Cancelar</button>
          <button mat-stroked-button class="btn-success"
              [disabled]="motivo.value === null || motivo.value === ''"
              (click)="confirmar()">Confirmar anulación</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>
