<div class="dialog-container">
  <div class="barra-titulo">
    <span class="titulomodal">Confirmación de Solicitud</span>
    <button mat-icon-button (click)="cerrar()" aria-label="Cerrar">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <mat-icon class="icono-amarillo-grande">warning</mat-icon>
  </div>
  <div class="contenido-dialogo">
    <section>
      <h3 class="titulo">La solicitud {{ data.solicitudId }} quedará anulada</h3>
      <mat-label>
        Ten en cuenta que esta acción es irreversible una vez confirmada.<br>
        ¿Deseas continuar?.
      </mat-label>
    </section>
    <section></section>
  </div>
  <div class="botones-derecha">
    <button mat-stroked-button color="primary" class="colorFondoBotonGuardar" (click)="confirmar()">
      Volver
    </button>
    <button mat-stroked-button color="primary" class="colorFondoBotonConfirmar" (click)="anularYConfirmar()">
      Confirmar Anulación
    </button>
  </div>
</div>
