.justify-around{
  display: flex;
  justify-content: space-between;
}

/* Esto puede ser de uso general */
.fondoGris{
  background-color: #E8E8EA;
  color: #666668;
}

.destacado{
  color: #285B9B
}

.fontSmall{
  font-size: 12px;
}
