<div  class="table-con-titulo mat-elevation-z6"
  data-titulo="Información General">
  <div class="container-fluid fondoGris justify-around d-flex p-4">
    <!-- <div class="d-flex justify-around"> -->
      <mat-card style="width: 49%;">
        <mat-card-header>
          <div style="display: flex; justify-content: space-between; width: 100%; margin-bottom: 5px;">
            <label class="destacado">RUT Contratante</label>
            <label>{{ infoSolicitud()?.rut_contratante }}</label>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div style="display: flex; justify-content: space-between; width: 100%; margin-bottom: 5px;">
            <label class="destacado">Nombre / Razón Social</label>
            <label>{{ infoSolicitud()?.nombre_razon_social_contratante }}</label>
          </div>
          <div style="display: flex; justify-content: space-between; width: 100%;">
            <label class="destacado">Estado Solicitud</label>
            <label >{{ infoSolicitud()?.nombre_estado }}</label>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card style="width: 49%;">
        <mat-card-header>
          <div style="display: flex; justify-content: space-between; width: 100%; margin-bottom: 5px;">
            <label class="destacado">Rubro / Tipo de Seguro</label>
            <label>{{ infoSolicitud()?.nombre_rubro }} / {{ infoSolicitud()?.nombre_tipo_seguro }}</label>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div style="display: flex; justify-content: space-between; width: 100%; margin-bottom: 5px;">
            <label class="destacado">Fecha Creación Solicitud</label>
            <label>{{ infoSolicitud()?.fecha_creacion_solicitud }}</label>
          </div>
          <div style="display: flex; justify-content: space-between; width: 100%;">
            <label class="destacado">SLA</label>
            <div [ngClass]="getCellClass(infoSolicitud()?.sla!)">{{ infoSolicitud()?.sla }}</div>
<!--             <div [ngStyle]="getCellStyleSla(infoSolicitud()?.sla!)">{{ infoSolicitud()?.sla }}</div>-->
          </div>
        </mat-card-content>
      </mat-card>
  </div>
</div>

