<div  class="table-con-titulo mat-elevation-z6"
  data-titulo="Información General">
  <div class="container-fluid fondoGris justify-around d-flex p-3">
    <!-- <div class="d-flex justify-around"> -->
      <mat-card style="width: 49%;">
        <mat-card-content>
          <div class="info-gral">
            <span class="destacado">ID Solicitud</span>
            <span>{{ infoSolicitud()?.id_solicitud }}</span>
          </div>
          <div class="info-gral">
            <span class="destacado">RUT Contratante</span>
            <span>{{ infoSolicitud()?.rut_contratante }}</span>
          </div>
          <div class="info-gral">
            <span class="destacado">Nombre / Razón Social</span>
            <span>{{ infoSolicitud()?.nombre_razon_social_contratante }}</span>
          </div>
          <div style="display: flex; justify-content: space-between; width: 100%;">
            <span class="destacado">Estado Solicitud</span>
            <span >{{ infoSolicitud()?.nombre_estado }}</span>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card style="width: 49%;">
        <mat-card-content>
          <div class="info-gral">
            <span class="destacado">Rubro </span>
            <span>{{ infoSolicitud()?.nombre_rubro }}</span>
          </div>
          <div class="info-gral">
            <span class="destacado">Tipo de Seguro</span>
            <span>{{ infoSolicitud()?.nombre_tipo_seguro }}</span>
          </div>
          <div class="info-gral">
            <span class="destacado">Fecha Creación Solicitud</span>
            <span>{{ infoSolicitud()?.fecha_creacion_solicitud }}</span>
          </div>
          <div style="display: flex; justify-content: space-between; width: 100%;">
            <span class="destacado">SLA</span>
            <div [ngClass]="getCellClass(infoSolicitud()?.sla!)">
              {{ getText(infoSolicitud()?.sla!) }}</div>
          </div>
        </mat-card-content>
      </mat-card>
  </div>
</div>

