<div class="container d-flex flex-column p-2">
  <!-- Título principal -->
  <h2 class="titulo">
    Información General
  </h2>
  <!-- Tarjetas de información -->
  <div class="d-flex justify-content-between" >
    <mat-card style="width: 49%;">
      <mat-card-header>
        <div style="display: flex; justify-content: space-between; width: 100%;">
          <label class="fw-bold">RUT Contratante</label>
          <label>12.345.678-9</label>
        </div>
      </mat-card-header>
    </mat-card>

    <mat-card style="width: 49%;">
      <mat-card-header>
        <div style="display: flex; justify-content: space-between; width: 100%;">
          <label class="fw-bold">Rubro / Tipo de Seguro</label>
          <label>Asistencia en Viajes</label>
        </div>
      </mat-card-header>
    </mat-card>
  </div>
</div>
<div class="container d-flex justify-around p-2">
 <mat-card style="width: 49%;">
  <mat-card-header>
    <div style="display: flex; justify-content: space-between; width: 100%;">
      <label class="fw-bold">Nombre / Razón Social</label>
      <label>Comercial S.A.</label>
    </div>
  </mat-card-header>
</mat-card>
   <mat-card style="width: 49%;">
  <mat-card-header>
    <div style="display: flex; justify-content: space-between; width: 100%;">
      <label class="fw-bold">Fecha Creación Solicitud</label>
      <label>18/09/2025</label>
    </div>
  </mat-card-header>
</mat-card>
</div>
<div class="container d-flex justify-around p-2">
 <mat-card style="width: 49%;">
  <mat-card-header>
    <div style="display: flex; justify-content: space-between; width: 100%;">
      <label class="fw-bold">Estado Solicitud</label>
      <label>Pendiente</label>
    </div>
  </mat-card-header>
</mat-card>
   <mat-card style="width: 49%;">
  <mat-card-header>
    <div style="display: flex; justify-content: space-between; width: 100%;">
      <label class="fw-bold">SLA</label>
      <label>En Cotización</label>
    </div>
  </mat-card-header>
</mat-card>
</div>
