.acciones-dialogo {
  margin-top: 30px;
}

.alinear {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.botones-izquierda,
.botones-derecha {
  display: flex;
  align-items: center;
}

.colorFondoBotonConfirmar {
  background-color: #6baa1f !important;
  color: white !important;
}
