.acciones-dialogo {
  margin-top: 30px;
}

.alinear {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.botones-izquierda,
.botones-derecha {
  display: flex;
  align-items: center;
}

.colorFondoBotonSalir {
  background-color: #ffffff !important;
  border: 1px solid #d2d2d4 !important;
  color: #234e85 !important;
}

.colorFondoBotonSalir:hover {
  border: 1px solid #333334 !important;
}

.colorFondoBotonConfirmar {
  background-color: #6baa1f !important;
  color: white !important;
}
