/* You can add global styles to this file, and also import other style files */
/* GENERAL */
@charset "UTF-8";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif !important;
  color: #333334;
}
/* FIN GENERAL */

/* TIPOGRAFIA */
h2[mat-dialog-title] {
  font-size: 16px !important;
}

h3[mat-dialog-title] {
  font-size: 14px !important;
}
/* FIN TIPOGRAFIA */

/* BOTONES */
.alinear-botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

/* Tamaño general de todos los botones mat-mdc-raised-button */
.mat-mdc-raised-button.mdc-button {
  padding: 26px 26px !important;
  font-size: 16px !important;
  min-width: 140px !important; /* Asegura buen ancho mínimo */
  border-radius: 2px !important;
}

.mat-mdc-raised-button:not(:disabled).colorFondoBotonCerrar {
  background-color: #eeeff1 !important;
  border: 1px solid #d2d2d4 !important;
  color: #666668 !important;
}

.mat-mdc-raised-button:not(:disabled).colorFondoBotonCerrar:hover {
  background-color: #e0e0e2 !important;
}

.mat-mdc-raised-button:not(:disabled).colorFondoBotonSiguiente {
  background-color: #149dc9 !important;
  color: white !important;
}

.mat-mdc-raised-button:not(:disabled).colorFondoBotonSiguiente:hover {
  background-color: #0f8dba !important;
  color: white !important;
}

.mat-mdc-raised-button:not(:disabled).colorFondoBotonAtras {
  background-color: #149dc9 !important;
  color: white !important;
}

.mat-mdc-raised-button:not(:disabled).colorFondoBotonAtras:hover {
  background-color: #0f8dba !important;
  color: white !important;
}

.mat-mdc-raised-button:not(:disabled).colorFondoBotonAnular {
  background-color: #ffffff !important;
  border: 1px solid #d2d2d4 !important;
  color: #234e85 !important;
}

.mat-mdc-raised-button:not(:disabled).colorFondoBotonAnular:hover {
  border: 1px solid #333334 !important;
}

.mat-mdc-raised-button:not(:disabled).colorFondoBotonDescargar {
  background-color: #234e85 !important;
  color: white !important;
}

.mat-mdc-raised-button:not(:disabled).colorFondoBotonDescargar:hover {
  background-color: #002464 !important;
  color: white !important;
}

.mat-mdc-raised-button:not(:disabled).colorFondoBotonVolver {
  background-color: #ffffff !important;
  border: 1px solid #d2d2d4 !important;
  color: #234e85 !important;
}

.mat-mdc-raised-button:not(:disabled).colorFondoBotonVolver:hover {
  border: 1px solid #333334 !important;
}

.mat-mdc-raised-button:not(:disabled).colorFondoBotonGrabar {
  background-color: #234e85 !important;
  color: white !important;
}

.mat-mdc-raised-button:not(:disabled).colorFondoBotonGrabar:hover {
  background-color: #002464 !important;
  color: white !important;
}

.mat-mdc-raised-button:not(:disabled).colorFondoBotonConfirmar {
  background-color: #6baa1f !important;
  color: white !important;
}

.mat-mdc-raised-button:not(:disabled).colorFondoBotonEliminar {
  background-color: #f45516 !important;
  color: white !important;
}

.mat-mdc-raised-button:not(:disabled).colorFondoBotonEliminar:hover {
  background-color: #d11d1a !important;
  color: white !important;
}

/*Boton Limpiar Filtros*/
.botonLimpiarFiltros {
  background-color: #6baa1f !important;
  color: white !important;
  font-size: 11px !important;
}

/* Botones inferiores */
.botones-izquierda {
  display: flex;
  gap: 12px;
}

.botones-derecha {
  display: flex;
  gap: 12px;
  margin-left: auto;
}
/*Fin Botones*/

/* INPUTS */
.inputForm {
  font-size: 14px !important;
  font-size: var(--mdc-typography-body1-font-size, 14px) !important;
  padding-top: 10px !important;
  padding-bottom: 0px !important;
  width: 100%;
  height: 45%;

  .mat-mdc-text-field-wrapper {
    height: 50px;
    flex: auto;
    will-change: auto;
  }
}

/* Espacio del input */
.mdc-text-field--outlined .mat-mdc-form-field-infix,
.mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding-top: 12px !important;
  padding-bottom: 6px !important;
}
/* Fin espacio del input */

.inputInput {
  font-size: 14px !important;
  padding-top: 10px !important;
  padding-bottom: 5px !important;
  width: 100%;
}

.inputSelectBuscar {
  font-size: 14px !important;
  padding-top: 10px !important;
  padding-bottom: 5px !important;
  height: 84%;
  color: #666668;
}

.inputSelect {
  font-size: var(--mdc-typography-body1-font-size, 12px) !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 10px 0px 0px !important;
  width:100%;
  color: #666668;
}

.inputBuscar {
  font-size: 14px !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 10px 0px 0px !important;
  height: 80%;
  width: 100%;
  color: #666668;
}

.inputFecha {
  font-size: 14px !important;
  padding-top: 10px !important;
  padding-bottom: 5px !important;
  height: 65px !important;
  margin-bottom: 15px !important;
}

.inputFechaForm {
  font-size: 14px !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  height: 65px !important;
  margin-bottom: 15px !important;
  color: #666668;
}

.mat-mdc-select-value-text {
  font-size: 14px !important;
}

.labelI {
  font-size: 14px !important;
  font-style: italic;
  text-align: left;
  color: #666668;
}

.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
    .mdc-text-field--textarea
  )
  .mat-mdc-form-field-infix {
  padding-top: 10px;
  padding-bottom: 16px;
}
/* FIN INPUTS */

/* MAT-TABLE */
/* Mantenedores Material */
/* Titulo Mantenedores Tablas principales */
.content {
  min-height: calc(100vh - 98px);
  /* largo de pantalla*/
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #323131;
  padding: 0 1px !important;
}

/* Fin Titulo Mantenedores Tablas principales */

/* Titulos Mantenedores secundarios */
.mat-mdc-dialog-container,
.mdc-dialog__title {
  /*background-color: #118383 !important;*/
  font-size: 14px !important;
  text-align: left !important;
  color: #002464 !important;
}

/* Fin Titulos Mantenedores Secundarios */
td.mat-cell:last-of-type {
  padding-right: 0px;
}

th.mat-cell:last-of-type {
  padding-right: 0px;
}

tr.mat-header-row {
  height: 45px !important;
}

/* Fondo para table con título */
.table-con-titulo {
  background-color: white;
  border: 1px solid #285b9b !important;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;
  /* box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3) !important;  */
}

/* Título flotante integrado */
.table-con-titulo::before {
  content: attr(data-titulo);
  position: absolute;
  top: -14px;
  left: 20px;
  background-color: white;
  /* mismo fondo que el card */
  padding: 0 10px;
  font-weight: 600;
  font-size: 14px;
  font-family: "Roboto", sans-serif !important;
  color: #285b9b;
  border-radius: 4px;
}

/* Este permite cambiar el tamaño de las columnas de la tabla */
.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 0 1px 0 10px !important;
}

/* Este permite que la tabla se ajuste */
.mat-mdc-table {
  table-layout: fixed !important;
}

/* Este permite que la tabla se ajuste */
.mat-mdc-table .mdc-data-table__header-row {
  color: rgb(255, 255, 255) !important;
  background-color: #149cb9 !important;
  table-layout: none !important;
}

.mat-mdc-table tbody,
.mat-mdc-table tfoot,
.mat-mdc-table thead,
.mat-mdc-cell,
.mat-mdc-footer-cell,
.mat-mdc-header-row,
.mat-mdc-row,
.mat-mdc-footer-row,
.mat-mdc-table .mat-mdc-header-cell {
  background: inherit;
  font-size: 14px !important;
}

/* Color Barra hover de la tabla */
tr.example-element-row:not(.example-expanded-row):hover {
  background: rgba(208, 206, 205, 0.686);

  button.tabla {
    background-color: rgba(208, 206, 205, 0.686);
  }
}

/* Color Barra Cuando se da Click */
tr.example-element-row:not(.example-expanded-row):active {
  background: #959597;
}

tr.mat-footer-row,
tr.mat-row {
  height: 30px !important;
}

/* Iconos de tabla */
button.nuevo:hover {
  color: white !important;
  background-color: #149cb9 !important;
}

button.nuevo {
  color: black !important;
  border: 0;
  background-color: #149cb9;
  width: 40px !important;
  height: 40px !important;
}

button.tabla:hover {
  color: black !important;
  background-color: rgba(208, 206, 205, 0.686) !important;
}

button.tabla {
  color: #149cb9 !important;
  border: 0;
  background-color: white;
  width: 40px !important;
  height: 40px !important;
}

/* Fin iconos de tabla */

/* Icono ordena tabla */
.mat-sort-header-arrow {
  color: #cd1515 !important;
}

.mat-sort-header-arrow:hover {
  color: #ffffff !important;
}

/* Foot Tabla */
.mat-mdc-paginator-page-size-select {
  width: 84px !important;
}

/* Fin Foot Tabla*/

/* Columna +AGREGAR */
th#opcionesI {
  font-size: 14px !important;
  color: white !important;
  width: 14% !important;
  text-align: center;
  vertical-align: middle;
  height: 45px;
  /* igual que tr.mat-header-row si lo tienes definido */
}

.agregar-texto {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 6px 12px;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  background-color: #234e85 !important;
  color: white !important;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px !important;
}

.agregar-texto:hover {
  background-color: #002464 !important;
  color: white !important;
}

/* Fin Columna +AGREGAR */
/* Fin MAT-TABLE */

:root {
  /* NOTIFICACIONES */

  /*FORMS*/
  .titulo {
    font-size: 18px;
    font-weight: bold;
  }

  .barra-titulo {
    background-color: #234e85;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 0px 10px !important;
  }

  .barra-titulo-form {
    background-color: #234e85;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px 0px 16px !important;
  }

  .contenido-form {
    background-color: #f0f4fa !important;
    padding: 24px 24px 24px 24px !important;
    box-sizing: border-box;
  }

  .barra-botones-form {
    margin-bottom: 2rem;
  }

  /* Fondo blanco para inputs de forms */
  .contenido-form-field input {
    background-color: white !important;
    padding: 17px 11px !important;
  }

  /* Fondo blanco para select de forms */
  .contenido-form-field .mat-select-trigger {
    background-color: white !important;
    padding: 11px !important;
  }

  /* Fondo para table con título */

  .form-con-titulo {
    background-color: white;
    border: 1px solid #285b9b !important;
    border-radius: 6px;
    margin: 8rem auto 2rem auto; /* Centrado horizontal */
    position: relative;
    /* box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3) !important;  */
  }

  /* Título flotante integrado */
  .form-con-titulo::before {
    content: attr(data-titulo);
    position: absolute;
    top: -14px;
    left: 20px;
    background-color: white;
    /* mismo fondo que el card */
    padding: 0 10px;
    font-weight: 600;
    font-size: 14px;
    font-family: "Roboto", sans-serif !important;
    color: #285b9b;
    border-radius: 4px;
  }

  .success {
    --mdc-snackbar-container-color: #4caf50 !important;
    /* Color de fondo */
    --mat-snack-bar-button-color: #000000 !important;
    /*Color de boton cerrar*/
    --mdc-snackbar-supporting-text-color: white !important;
    /*Color del texto*/
    text-align: center;
    /*Centra el mensaje*/
  }

  .error {
    --mdc-snackbar-container-color: #ef4444 !important;
    /* Color de fondo */
    --mat-snack-bar-button-color: #000000 !important;
    /*Color de boton cerrar*/
    --mdc-snackbar-supporting-text-color: white !important;
    /*Color del texto*/
    text-align: center;
    /*Centra el mensaje*/
  }

  .warning {
    --mdc-snackbar-container-color: #ff9800 !important;
    /* Color de fondo */
    --mat-snack-bar-button-color: #000000 !important;
    /*Color de boton cerrar*/
    --mdc-snackbar-supporting-text-color: white !important;
    /*Color del texto*/
    text-align: center;
    /*Centra el mensaje*/
  }

  .info {
    --mdc-snackbar-container-color: #858585 !important;
    /* Color de fondo */
    --mat-snack-bar-button-color: #000000 !important;
    /*Color de boton cerrar*/
    --mdc-snackbar-supporting-text-color: white !important;
    /*Color del texto*/
    text-align: center;
    /*Centra el mensaje*/
  }

  /* FIN NOTIFICACIONES */
}

/* CARDS */
/* Cards que encierran contendidos */
.form-card {
  border-radius: 12px;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.mat-card-form {
  width: 48%;
  margin-left: 1%;
}

.card-borde {
  background-color: white;
  border: 2px solid #285b9b !important;
  border-radius: 12px;
  padding: 2rem;
  margin-bottom: 2rem;
  /* box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3) !important; */
}

.card-borde2 {
  background-color: white;
  border: 1px solid #285b9b !important;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
  height: 40px !important;
  /* box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3) !important; */
}


/* Fondo para cards con título */
.card-con-titulo-principal {
  background-color: white;
  border: 2px solid #285b9b !important;
  border-radius: 0px;
  padding: 2rem;
  margin-bottom: 2rem;
  /* box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3) !important; */
}

/* Título flotante integrado */
.card-con-titulo-principal::before {
  content: attr(data-titulo);
  position: absolute;
  top: -14px;
  left: 20px;
  background-color: white;
  /* mismo fondo que el card */
  padding: 0 10px;
  font-weight: 600;
  font-size: 16px;
  font-family: "Roboto", sans-serif !important;
  color: #285b9b;
  border-radius: 4px;
}

/* Fondo para cards con título secundario */
.card-con-titulo {
  background-color: white;
  border: 1px solid #285b9b !important;
  border-radius: 0px;
  padding: 2rem;
  /*margin-bottom: 2rem;*/
  /* box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3) !important; */
}

/* Título flotante integrado */
.card-con-titulo::before {
  content: attr(data-titulo);
  position: absolute;
  top: -14px;
  left: 20px;
  background-color: white;
  /* mismo fondo que el card */
  padding: 0 10px;
  font-weight: 600;
  font-size: 14px;
  font-family: "Roboto", sans-serif !important;
  color: #285b9b;
  border-radius: 0px;
}

.contenido-card {
  background-color: #f0f4fa !important;
}

.fondoGris {
  background-color: #e8e8ea;
  color: #333334;
}

/* Card de documentos opcionales deshabilitados */
.card-disabled {
  pointer-events: none;
  opacity: 0.5;
  filter: grayscale(0.5);
}

/* Estilos personalizados para las celdas de la tabla de Material Design */
.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 0 2px 0 10px;
}

/* Posicion de Check-Box de Ingreso Contratante */
.check-mat-card {
  margin-top: 16px;
}

/* CUESTIONARIO Y DOCUMENTOS */
.document-section {
  display: flex;
  align-items: center;
}

.obligatorio {
  color: #f45516;
  font-weight: 600; /* semibold */
}

/* Botones carga cuestionario */
.boton-cargar-cuestionario {
  background-color: #149dc9 !important;
  color: #f2f2f4 !important;
  padding: 4px !important;
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
}

.boton-cargar-cuestionario:hover {
  background-color: #0f8dba !important;
  color: #f2f2f4 !important;
}

.boton-eliminar-cuestionario {
  background-color: #149dc9 !important;
  color: #f2f2f4 !important;
  padding: 4px !important;
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
}

.boton-eliminar-cuestionario:hover {
  background-color: #0f8dba !important;
  color: #f2f2f4 !important;
}
/* Fin botones carga cuestionario */

/* Inputs cuestionarios */
.inputInput-cuestionario {
  font-size: 14px !important;
  padding-top: 10px !important;
  padding-bottom: 5px !important;
}
/* Fin inputs cuestionarios */

/* Labels cuestionarios */
.labelI-cuestionario {
  font-size: 14px !important;
  font-style: italic;
  text-align: left;
  color: #666668;
}
/* Fin labels cuestionarios */

.form-card-cuestionario {
  border-radius: 12px;
  padding: 0.1rem 0.1rem !important; /* menos espacio arriba/abajo */
}

.modifica-container-cuestionario {
  display: flex;
  flex-direction: row; /* ← cambio clave */
  gap: 2%;
  padding-top: 16px;
}
/* FIN CUESTIONARIO Y DOCUMENTOS */

/* MODAL DE CONFIRMACION */

/* Contenedor principal del diálogo */
.dialog-container {
  background-color: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #333;
  max-width: 600px;
  width: 100%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}

/* CORRECCIÓN DE COLORES EN ELEMENTOS SOBRE FONDO DE OTRO COLOR */

/* Input directo */
input.mat-mdc-input-element {
  color: #323131 !important;
  background-color: #ffffff !important;
  border: none !important;
}

/* Placeholder */
input.mat-mdc-input-element::placeholder {
  color: #888 !important;
  opacity: 1 !important;
}

/* Etiqueta del campo */
.mat-mdc-floating-label {
  color: #323131 !important;
}

/* Fondo del contenedor del input */
.mat-mdc-form-field-infix {
  background-color: #ffffff !important;
  color: #323131 !important;
}

/* Contenedor general del input */
.mat-mdc-text-field-wrapper {
  background-color: #ffffff !important;
}

/* Borde del input (outline) */
.mdc-notched-outline {
  border-color: #ffffff !important;
}

/* Mensajes de error */
.mat-mdc-form-field-error {
  color: red !important;
}

/* Mensajes de ayuda (hint) */
.mat-mdc-form-field-hint {
  color: #285b9b !important;
}

/* Iconos dentro del input */
.mat-mdc-form-field-icon-prefix,
.mat-mdc-form-field-icon-suffix {
  color: #323131 !important;
}

/* Texto del checkbox */
mat-checkbox {
  color: #323131 !important;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

/* Caja del checkbox (no seleccionada) */
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__background {
  background-color: #ffffff !important;
  border: 2px solid #285b9b !important;
  box-shadow: none !important;
}

/* Caja del checkbox (seleccionada) */
.mat-mdc-checkbox-checked .mdc-checkbox__background {
  background-color: #285b9b !important;
  border-color: #285b9b !important;
}

/* Checkmark (ícono de tilde) */
.mat-mdc-checkbox-checked .mdc-checkbox__checkmark {
  color: #285b9b !important;
}

/* Hover y focus */
.mat-mdc-checkbox:hover .mdc-checkbox__background,
.mat-mdc-checkbox:focus-within .mdc-checkbox__background {
  border-color: #285b9b !important;
}

/* Contenedor para alinear bloques horizontalmente */
.contenido-horizontal {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  gap: 16px; /* Espacio entre secciones y divisores */
  padding: 16px;
}

mat-divider[vertical] {
  height: auto;
  align-self: stretch;
}

/* PANEL CONTRATANTE */

/* Panel con datos de contratante en pantallas restantes */
.info-panel {
  font-size: 14px;
  background-color: #e3f2fd;
  border-radius: 4px;
  justify-content: flex-end; /* alinea el contenido a la derecha */
}

.panel-derecha {
  display: flex;
  gap: 12px;
  margin-left: auto;
}

.panel-borde {
  background-color: white;
  border: 2px solid #285b9b !important;
  border-radius: 12px;
  /* box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3) !important; */
}

/* Afgregado por Irma Chin  */
.justify-around{
  display: flex;
  justify-content: space-between;
}

/* Esto puede ser de uso general */
.fondoGris{
  background-color: #E8E8EA;
  color: #666668;
}

.fondoAzul{
  background-color: #234E85;
  color: white;
}

.titulo{
  color: #234E85;
}

.danger{
  color: #F45516;
}

.destacado{
    color: #285B9B !important;
}

.warning{
  color: #FFC725;
}

.success{
  color: #6BAA1F;
}

.verde{
  color: #008000 !important;
}
.amarillo{
  color: #ffff00 !important;
}
.rojo{
  color: #ff0000 !important;
}


.gris {
  color: #666668;
}

.gris-claro{
  color: #CFCFD2;
}

.info {
    color: #149DC9;
}

.fontSmall{
  font-size: 12px;
}

.fontLarge{
  font-size: 16px;
}

.cursiva{
  font-style: italic;
}

.link{
  background-color: inherit;
  border: none !important;
  box-shadow: none !important;
  color: #149dc9 !important;
  font-size: 12px !important;
}

.button-link {
  background-color: inherit;
  border: none !important;
  box-shadow: none !important;
  color: #149dc9 important;
  /*color: #234e85 !important;*/
  /*padding: 0px 0px 0px !important;*/
  font-size: 14px !important;
}

.button-link:hover {
  background-color: #ffffff !important;
  color: #0F8DBA !important;
}

.btn-danger{
  background-color: #F45516 !important;
  color: #ffffff !important;
  border-radius: 0px !important;
  border: none !important;
}

.btn-danger:disabled {
  background-color: #CFCFD2 !important;
  /*opacity: 50%;*/
}

.btn-warning{
  background-color: #FFC725 !important;
  color: #ffffff !important;
  border-radius: 0px !important;
  border: none !important;
}
.btn-warning:disabled {
  background-color: #CFCFD2 !important;
  /*opacity: 50%;*/
}

.btn-success{
  background-color: #6BAA1F !important;
  color: #ffffff !important;
  border-radius: 0px !important;
  border: none !important;
}
.btn-success:disabled {
  background-color: #CFCFD2 !important;
  /*opacity: 50%;*/
}

.btn-info{
  background-color: #149DC9 !important;
  color: #ffffff !important;
  border-radius: 0px !important;
  border: none !important;
}
.btn-info:disabled {
  background-color: #CFCFD2 !important;
  /*opacity: 50%;*/
}

.btn-primary{
  background-color: #002464 !important;
  color: #ffffff !important;
  border-radius: 0px !important;
  border: none !important;
}
.btn-primary:disabled {
  background-color: #CFCFD2 !important;
  /*opacity: 50%;*/
}

/*Caja para filtros*/
.box-form-fields {
  display: flex;
  align-items: flex-start;
  background-color: white;
  padding: 0px 12px 0px;
}
/*Fin para filtros*/

.border-none {
  border-radius: 0px !important;
}


.swal2-toast div:where(.swal2-actions) {
    justify-content: center !important;
}

.swal2-confirm{
  width: 100%;
}

div:where(.swal2-container) div:where(.swal2-actions) {
    flex-wrap: unset !important;
}

.tab-content {
  max-height: 600px; /* Altura máxima del contenido */
  overflow-y: auto; /* Habilitar scroll vertical */
 /* padding: 16px;  Espaciado interno opcional */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}
