<app-cabecera-popup [titulo]="'Consulta Tipo Seguro'" />
<mat-dialog-content name="consulta" class="consulta-container">
  <div class="row form-con-titulo contenido-form mat-elevation-z6" data-titulo="Consulta Tipo Seguro">
    <div class="col-md-3">
      <mat-form-field class="inputInput">
        <mat-label class="labelI">ID</mat-label>
        <input matInput aria-label="Id" value="{{ data.p_id_rubro }}" disabled="true" />
      </mat-form-field>
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Producto Isol</mat-label>
        <input matInput aria-label="prodIsol" value="{{ data.p_producto_isol }}" disabled="true" />
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Nombre Rubro</mat-label>
        <input matInput aria-label="nombreRubro" value="{{ data.p_nombre_rubro }}" disabled="true" />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Nro. Mínimo Cotizaciones</mat-label>
        <input matInput aria-label="minCotizaciones" value="{{ data.p_nro_minimo_cotizaciones }}" disabled="true" />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Fecha Modificación</mat-label>
        <input matInput aria-label="fModificacion" value="{{ data.p_fecha_modificacion }}" disabled="true" />
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Tipo Seguro</mat-label>
        <input matInput aria-label="tipoSeguro" value="{{ data.p_nombre_tipo_seguro }}" disabled="true" />
      </mat-form-field>


      <mat-form-field class="inputInput">
        <mat-label class="labelI">Fecha Creación</mat-label>
        <input matInput aria-label="fCreacion" value="{{ data.p_fecha_creacion }}" disabled="true" />
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Usuario Modificación</mat-label>
        <input matInput aria-label="usuarioModificacion" value="{{ data.p_usuario_modificacion }}" disabled="true" />
      </mat-form-field>
    </div>


    <div class="col-md-3">
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Estado Tipo Seguro</mat-label>
        <input matInput aria-label="estadoTipoSeguro" value="{{ data.p_estado_tipo_seguro }}" disabled="true" />
      </mat-form-field>
      <mat-form-field class="inputInput">
        <mat-label class="labelI">Usuario Creación</mat-label>
        <input matInput aria-label="usuarioCreacion" value="{{ data.p_usuario_creacion }}" disabled="true" />
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="barra-botones-form d-flex justify-content-center">
  <div class="me-5">
    <button type="button" mat-raised-button class="colorFondoBotonCerrar" mat-dialog-close [disabled]="false">
      Cerrar
    </button>
  </div>
</mat-dialog-actions>
