<app-cabecera-popup [titulo]="'Consulta Usuario'" />
<mat-dialog-content [formGroup]="consultaUsuario()" name="consultaUsuario" class="consulta-container">
  <div class="row form-con-titulo contenido-form mat-elevation-z6" data-titulo="Consulta Datos del Usuario">

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Id Usuario</mat-label>
        <input matInput aria-label="Id Usuario" value="{{data.p_id_usuario}}" disabled="true"/>

      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Rut</mat-label>
        <input matInput id="rutUsuarioNuevo" aria-label="Rut" value="{{data.p_rut_usuario}}" disabled="true"/>

      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Nombre</mat-label>
        <input matInput aria-label="Nombre" value="{{data.p_nombre_usuario}}" disabled="true"/>
      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Apellido Paterno</mat-label>
        <input matInput aria-label="Apellido Paterno"  value="{{data.p_apellido_paterno_usuario}}" disabled="true"/>

      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Apellido Materno</mat-label>
        <input matInput aria-label="Apellido Materno"  value="{{data.p_apellido_materno_usuario}}" disabled="true"/>

      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Correo</mat-label>
        <input matInput aria-label="Correo"  value="{{data.p_mail_usuario}}" disabled="true"/>

      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Teléfono</mat-label>
        <input matInput aria-label="Teléfono"  value="{{data.p_telefono_usuario}}" disabled="true"/>

      </mat-form-field>

      <mat-form-field class="inputInput">
        <mat-label class="labelI">Dependencia</mat-label>
        <input matInput aria-label="dependencia"  value="{{data.p_id_dependencia_usuario}}" disabled="true"/>

      </mat-form-field>


    <!-- <mat-form-field class="inputInput">
      <mat-label class="cursiva gris-claro">Selecciona Dependencia</mat-label>
      <mat-select [formControl]="dependenciaUsuario" value="{{data.p_id_dependencia_usuario}}">
        @for(_dependencia of dependencia(); track _dependencia){
        <mat-option [value]="_dependencia">
          {{ _dependencia.p_nombre_usuario || '' || _dependencia.p_apellido_paterno_usuario || '' ||
          _dependencia.p_apellido_materno_usuario}}
        </mat-option>
        }
      </mat-select>
      @if(dependenciaUsuario.invalid){
      <mat-error>{{ getErrorMessage("dependenciaUsuario") }}</mat-error>
      }
    </mat-form-field> -->


  </div>
</mat-dialog-content>

<mat-dialog-actions class="barra-botones-form d-flex justify-content-center">
  <div class="md-12 text-center">
    <button type="button" mat-raised-button class="colorFondoBotonCerrar" mat-dialog-close [disabled]="false">
      Cerrar
    </button>
  </div>

</mat-dialog-actions>
