<div class="dialog-container">
  <div class="barra-titulo titulomodal">
    <h2>Confirmación de Anulación</h2>
    <button mat-icon-button (click)="cerrar()" aria-label="Cerrar">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <mat-icon class="icono-verde-grande" fontIcon="task_alt"></mat-icon>
  </div>
  <div class="contenido-dialogo">
    <section>
      <h3 class="titulo">La solicitud ha sido Anulada</h3>
      <mat-label>
        La solicitud
         {{data.solicitudId}}
        ha sido anulada.
      </mat-label>
    </section>
  </div>
  <div class="botones-derecha">
    <button mat-stroked-button color="primary" class="colorFondoBotonGuardar" (click)="confirmar()">
      Ir a gestión de Solicitudes
    </button>
  </div>
</div>
